.main-page-content {
    width: 100vw;
    margin: 0 auto;

    .search {
        position: relative;
        width: 60%;
        height: 15%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        input {
            border-radius: 0.3vw;
            font-size: 1.7vw;
            border: none;
            padding: 0.4vw 0.8vw;
        }

        &-pages {
            display: flex;
            justify-content: space-around;

            button {
                font-size: 1.3vw;
                border: none;
                background-color: transparent;
                cursor: pointer;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .cards {
        position: relative;
        height: 85%;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 0.1vw;
            width: 100%;
            background-color: rgba(211, 211, 211, 0.8);
        }

        &-inner {
            padding: 0 10vw 2vw 0;
            position: relative;
            margin-right: -10vw;
            overflow-y: scroll;
            height: 100%;

            .no-elements {
                position: absolute;
                top: 50%;
                left: 25vw;
                transform: translateY(-50%);
                color: darkgray;
                font-size: 5vw;
                opacity: 0.3;
            }

            .loading {
                position: absolute;
                top: 30vh;
                left: 37vw;
                width: 1.5vw;
                height: 1.5vw;

                &:before,
                &:after {
                    content: " ";
                    width: 1.5vw;
                    height: 1.5vw;
                    position: absolute;
                    background: darkgray;
                    border-radius: 50%;
                }

                &:before {
                    animation: loading-bottom 3s;
                    animation-iteration-count: infinite;
                }

                &:after {
                    animation: loading-top 3s;
                    animation-iteration-count: infinite;
                }
            }

            @keyframes loading-top {
                0% {
                    top: 0;
                    left: 0;
                    opacity: .8;
                }
                16% {
                    opacity: .3;
                }
                33% {
                    top: 3vw;
                    left: 2vw;
                    opacity: .8;
                }
                50% {
                    opacity: .3;
                }
                66% {
                    top: 3vw;
                    left: -2vw;
                    opacity: .8;
                }
                82% {
                    opacity: .3;
                }
                100% {
                    top: 0;
                    left: 0;
                    opacity: .8;
                }
            }

            @keyframes loading-bottom {
                0% {
                    top: 3vw;
                    left: 2vw;
                    opacity: .3;
                }
                16% {
                    opacity: .8;
                }
                33% {
                    top: 3vw;
                    left: -2vw;
                    opacity: .3;
                }
                50% {
                    opacity: .8;
                }
                66% {
                    top: 0;
                    left: 0;
                    opacity: .3;
                }
                82% {
                    opacity: .8;
                }
                100% {
                    top: 3vw;
                    left: 2vw;
                    opacity: .3;
                }
            }

            ul {
                height: auto;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 80%;
                margin: 0 auto;
    
                li {
                    list-style-type: none;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    margin: 3vw 0;
                    width: 18vw;
                    height: 26vw;
                    transition: all 0.7s;
                    transition-delay: 0.3s;
        
                    a {
                        color: black;
                    }

                    .hiddenInfo {
                        padding: 1.2vw;
                        overflow: hidden;
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                        transition: all 1s;
                        text-align: left;
                        opacity: 0;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            transform: translateY(-80%);
                            left: 0;
                            opacity: 1;
                            z-index: 2;
                            height: 4vw;
                            background: linear-gradient(rgba(211, 211, 211, 0), rgba(211, 211, 211, 0.8));
                            width: 100%;
                        }

                        p {
                            pointer-events: none;
                            font-size: 1vw;
                            line-height: 1.6;
                        }

                        .title {
                            font-size: 1.3vw;
                            line-height: 1.5;
                            text-align: center;
                            font-weight: bold;
                        }

                        .description {
                            height: 100%;
                            overflow: hidden;
                            position: relative;
                            mix-blend-mode: hard-light;
                        }
                    }

                    &:hover {
                        
                        background-color: rgba(105, 160, 73, 0.377);
        
                        img {
                            transform: rotateY(180deg);
                            opacity: 0.2;
                        }

                        .hiddenInfo {
                            opacity: 1;
                        }
                        
        
                    }
        
                    img {
                        margin: auto;
                        transition: all 1s;
                        width: 100%;
                        height: 100%;
                    }
        
                }
            }
        }



    }
}
