@import url("./header.css");
@import url("./content.css");
@import url("./footer.css");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90vh;
}
