.title {
    margin: 50px auto 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 30%;
    border: 1px solid lightslategrey;
}
.titleName {
    background: transparent;
    border: none;
    height: 30px;
    text-align: left;
}
.titleName:focus{
    outline: 1px solid green;
}
.title p  {
    height: 30px;
    margin: 0;
}
.title p span {
    color: lawngreen;
}
.title p span:nth-child(2) {
    color: red;
}