.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.App input {
    width: 50%;
    margin: 0 auto 1%;
    text-align: center;
}
.App button {
    width: 51%;
    margin: 0 auto;
}
ul {
    border: 1px solid black;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
