@import url("./wrapper.css");
@import url("./login.css");
@import url("./items.css");
@import url("./itemsId.css");
@import url("./header.css");

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
