.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
/* block-wrapper with all inputs*/
.input-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 1%;
    margin: 0 auto;
    margin-top: 30px;
}
.input-box label:first-child {
  width: 90%
}
.input-box label {
  width: 45%;
  margin-bottom: 10px;
}
#title {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid lightslategray;
  outline: #e9e9e9;
}
#oldPrice {
  text-align: left;
  width: 44%;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid lightslategray;
  outline: #e9e9e9;
}
#newPrice {
  text-align: left;
  width: 44%;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid lightslategray;
  outline: #e9e9e9;
}
#add {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: 1px solid gray;
}
/* CATALOG -> block-wrapper items*/
.catalog {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #e9e9e9;
}
.card {
  margin-left: 31px;
  margin-top: 37px;
  margin-bottom: 37px;
  box-shadow: 0 0 76px rgba(231, 231, 231, 0.66);
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#list {
  width: 15px;
  height: 9px;
  background: transparent;
  border: none;
  background-image: url('./list.svg');
  margin-top: 29px;
  margin-left: 37px;
  margin-right: 41px;
}
#like {
  width: 17px;
  height: 15px;
  background: transparent;
  border: none;
  background-image: url('./like.svg');
  margin-top: 40px;
  margin-left: 37px;
  margin-right: 41px;
}
#compare {
  width: 19px;
  height: 9px;
  background: transparent;
  border: none;
  background-image: url('./compare.svg');
  margin-top: 28px;
  margin-left: 37px;
  margin-right: 41px;
}
.photo {
  width: 265px;
  height: 256px;
  background-image: url('./photo.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.sectionBody{
  height: 140px;
}
.text{
  margin-left: 119px;
  margin-top: 62px;
  width: 70%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.text p {
  margin: 0 auto;
  text-align: center;
  margin-left: 10px;
}
.itemOldPrice {
  text-decoration: line-through;
  color: green;
  margin-left: 10px;
}
.priceRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.addToCart{
  width: 135px;
  height: 23px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #e9e9e9;
}
.buttonTitle p {
  margin: 0 auto;
}
.basketImg {
  width: 27px;
  height: 21px;
  background: transparent;
  background-image: url('./basket.svg');
  margin-right: 2px;
}
.removeFromCart {
  width: 135px;
  height: 23px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #e9e9e9;
  margin-top: 5px;
}