@font-face {
    font-family: Exo;
    src: url("../../fonts/Exo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Exo;
    font-weight: bold;
    src: url("../../fonts/Exo-Bold.ttf") format("truetype");
}