.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login input {
    width: 30%;
    height: 30px;
    font-size: 20px;
}
.login input:focus {
    outline-color: green;
}
.login label {
    width: 30%;
    text-align: left;
    font-size: 20px;
}
a {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.login button {
    margin-top: 2%;
    width: 20%;
    height: 35px;
    font-size: 14px;
    background-color: bisque;
    border: 1px solid gray;
}
.login button:focus {
    outline-color: green;
}
.login h1:nth-child(1) {
    margin-top: 10%;
    margin-bottom: 1%;
}
.login label:nth-child(2) {
    margin-top: 1%;
    margin-bottom: 1%;
}
.login label:nth-child(4) {
    margin-top: 1%;
    margin-bottom: 1%;
}
.login button:nth-child(6) {
    margin-top: 2%;
}