* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
}

p {
    color: #ffffff;
    font-family: "Product Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin: 0;
}

@media screen and (max-device-width: 567px) {
    p {
        font-size: 12px;
        line-height: 18px;
    }
}

h1 {
    color: #ffffff;
    font-family: "Roboto-Bold";
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 64px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-device-width: 567px) {
    h1 {
        font-size: 16px;
        line-height: 28px;
    }
}

h2 {
    color: #121212;
    font-family: "Roboto-Bold";
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-device-width: 567px) {
    h2 {
        font-size: 16px;
        line-height: 28px;
    }
}

h3 {
    color: #121212;
    font-family: "Product Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-device-width: 567px) {
    h3 {
        font-size: 12px;
        line-height: 20px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 79px 0 80px;
}

@media screen and (max-device-width: 1000px) {
    .header {
        margin: 60px 47px 0 40px;
    }
}

@media screen and (max-device-width: 759px) {
    .header {
        margin: 30px 28px 0 30px;
    }
}

@media screen and (max-device-width: 567px) {
    .header {
        height: 23px;
        margin: 16px 16px 0 16px;
    }
}

.logo {
    height: 20px;
    width: 66px;
}

@media screen and (max-device-width: 567px) {
    #logo {
        height: 16px;
        width: 53px;
    }
}

ul.horizontal-list {
    height: 39px;
    width: 322px;
    margin: 0;
    padding: 0px;
    list-style: none;
    text-align: right;
    word-spacing: 47px;
}

@media screen and (max-device-width: 567px) {
    ul.horizontal-list {
        word-spacing: 20px;
    }
}

ul.horizontal-list li {
    display: inline;
}

ul.horizontal-list li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Product Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

@media screen and (max-device-width: 567px) {
    ul.horizontal-list li a {
        font-size: 12px;
    }
}

ul.horizontal-list li a:hover {
    color: #f76612;
}

#word-spacing {
    word-spacing: 3px;
}

.headline {
    position: absolute;
    margin: -93px 1182px 65px 900px;
}

@media screen and (max-device-width: 1920px) {
    .headline {
        margin: -93px 1182px 65px 580px;
    }
}

@media screen and (max-device-width: 1680px) {
    .headline {
        margin: -93px 1182px 65px 460px;
    }
}

@media screen and (max-device-width: 1366px) {
    .headline {
        margin: -93px 1182px 65px 380px;
    }
}

@media screen and (max-device-width: 1280px) {
    .headline {
        margin: -93px 1182px 65px 300px;
    }
}

@media screen and (max-device-width: 1024px) {
    .headline {
        margin: -93px 0 65px 172px;
    }
}

@media screen and (max-device-width: 1000px) {
    .headline {
        margin: -93px 0 65px 40px;
    }
}

@media screen and (max-device-width: 567px) {
    .headline {
        width: 288px;
        height: 156px;
        margin: -38px 16px 65px 71px;
    }
}

@media screen and (max-device-width: 374px) {
    .headline {
        margin: -38px 16px 65px 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .headline {
        margin: -38px 16px 65px 16px;
    }
}

#headlineSAFOR {
    width: 478px;
    height: 44px;
    line-height: 18px;
    margin: 0;
}

@media screen and (max-device-width: 759px) {
    #headlineSAFOR {
        display: none;
    }
}

.headline h1 {
    width: 478px;
    height: 187px;
    margin-bottom: 65px;
}

@media screen and (max-device-width: 759px) {
    .headline h1 {
        width: 508px;
    }
}

@media screen and (max-device-width: 567px) {
    .headline h1 {
        width: 186px;
        height: 52px;
        margin-bottom: 24px;
    }
}

@media screen and (max-device-width: 759px) {
    .headline h1 br {
        display: none;
    }
}

@media screen and (max-device-width: 567px) {
    .headline h1 br {
        display: block;
    }
}

.headline p {
    width: 900px;
    height: 64px;
}

@media screen and (max-device-width: 1024px) {
    .headline p {
        width: 562px;
        height: 96px;
    }
}

@media screen and (max-device-width: 759px) {
    .headline p {
        width: 493px;
        height: 96px;
    }
}

@media screen and (max-device-width: 567px) {
    .headline p {
        width: 288px;
        height: 80px;
    }
}

hr {
    width: 100%;
    size: 1px;
    color: #979797;
}

#hrs {
    position: relative;
    margin-top: 246px;
}

@media screen and (max-device-width: 567px) {
    #hrs {
        margin-top: 117px;
    }
}

#hr1 {
    opacity: 0.1;
    margin-bottom: 32px;
}

@media screen and (max-device-width: 567px) {
    #hr1 {
        margin-bottom: 12px;
    }
}

#hr2 {
    opacity: 0.15;
    margin-bottom: 40px;
}

@media screen and (max-device-width: 567px) {
    #hr2 {
        margin-bottom: 20px;
    }
}

#hr3 {
    opacity: 0.2;
    margin-bottom: 48px;
}

@media screen and (max-device-width: 567px) {
    #hr3 {
        margin-bottom: 28px;
    }
}

#hr4 {
    opacity: 0.3;
    margin-bottom: 54px;
}

@media screen and (max-device-width: 567px) {
    #hr4 {
        margin-bottom: 34px;
    }
}

#hr5 {
    opacity: 0.5;
    margin-bottom: 63px;
}

@media screen and (max-device-width: 567px) {
    #hr5 {
        margin-bottom: 43px;
    }
}

#hr6 {
    opacity: 0.7;
    margin-bottom: 64px;
}

@media screen and (max-device-width: 567px) {
    #hr6 {
        margin-bottom: 44px;
    }
}

#hr7 {
    opacity: 0.9;
}

#about {
    display: flex;
    flex: column;
    width: 1040px;
    height: 600px;
    border-radius: 8px;
    background-color: #000000;
    margin: 80px 680px 0 840px;
}

@media screen and (max-device-width: 1920px) {
    #about {
        margin: 80px 680px 0 520px;
    }
}

@media screen and (max-device-width: 1680px) {
    #about {
        margin: 80px 680px 0 400px;
    }
}

@media screen and (max-device-width: 1440px) {
    #about {
        margin: 80px 680px 0 320px;
    }
}

@media screen and (max-device-width: 1366px) {
    #about {
        margin: 80px 680px 0 240px;
    }
}

@media screen and (max-device-width: 1280px) {
    #about {
        margin: 80px 680px 0 160px;
    }
}

@media screen and (max-device-width: 1024px) {
    #about {
        margin: 80px 680px 0 0;
        width: 1024px;
        height: 600px;
    }
}

@media screen and (max-device-width: 1000px) {
    #about {
        width: 1000px;
    }
}

@media screen and (max-device-width: 759px) {
    #about {
        width: 100%;
        height: 341px;
        margin: 143px 0 0 0;
    }
}

@media screen and (max-device-width: 567px) {
    #about {
        width: 304px;
        height: 180px;
        margin: 88px 0 0 71px;
        border-radius: 0;
    }
}

@media screen and (max-device-width: 374px) {
    #about {
        margin: 88px 0 0 56px;
    }
}

@media screen and (max-device-width: 320px) {
    #about {
        margin: 88px 0 0 16px;
    }
}

#about h1 {
    width: 364px;
    height: 71px;
    margin: 244px 616px 0 60px;
}

@media screen and (max-device-width: 1024px) {
    #about h1 {
        margin: 244px 0 0 172px;
        width: 364px;
        height: 71px;
    }
}

@media screen and (max-device-width: 1000px) {
    #about h1 {
        margin: 244px 0 0 40px;
    }
}

@media screen and (max-device-width: 759px) {
    #about h1 {
        width: 221px;
        height: 123px;
        margin: 82px 0 21px 30px;
    }
}

@media screen and (max-device-width: 567px) {
    #about h1 {
        width: 141px;
        height: 33px;
        margin: -48px 0 95px 0;
    }
}

#abouth3 {
    width: 106px;
    height: 39px;
    margin: 0 0 0 16px;
    letter-spacing: 0.7px;
}

#abouth3 a {
    text-decoration: none;
    color: #ffffff;
}

#about div div {
    display: flex;
    margin: 0 0 0 60px;
    align-items: baseline;
}

@media screen and (max-device-width: 1024px) {
    #about div div {
        margin: 0 0 0 172px;
    }
}

@media screen and (max-device-width: 1000px) {
    #about div div {
        margin: 0 0 0 40px;
    }
}

@media screen and (max-device-width: 567px) {
    #about div div {
        margin: 0 0 0 103px;
    }
}

.aboutsafor {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 192px;
    margin: 80px 760px 160px 900px;
}

@media screen and (max-device-width: 1920px) {
    .aboutsafor {
        margin: 80px 760px 160px 580px;
    }
}

@media screen and (max-device-width: 1680px) {
    .aboutsafor {
        margin: 80px 760px 160px 460px;
    }
}

@media screen and (max-device-width: 1366px) {
    .aboutsafor {
        margin: 80px 760px 160px 380px;
    }
}

@media screen and (max-device-width: 1280px) {
    .aboutsafor {
        margin: 80px 760px 160px 300px;
    }
}

@media screen and (max-device-width: 1024px) {
    .aboutsafor {
        display: flex;
        flex-wrap: wrap;
        margin: 80px 0 160px 172px;
        width: 802px;
        height: 224px;
    }
}

@media screen and (max-device-width: 1000px) {
    .aboutsafor {
        margin: 80px 0 124px 40px;
    }
}

@media screen and (max-device-width: 759px) {
    .aboutsafor {
        width: 508px;
        height: 288px;
        margin: 80px 30px 124px 30px;
    }
}

@media screen and (max-device-width: 567px) {
    .aboutsafor {
        width: 288px;
        height: 200px;
        margin: 20px 17px 60px 71px;
    }
}

@media screen and (max-device-width: 374px) {
    .aboutsafor {
        margin: 20px 17px 60px 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .aboutsafor {
        margin: 20px 17px 60px 16px;
    }
}

.aboutsafor p {
    width: 540px;
    height: 192px;
    margin-right: 40px;
}

@media screen and (max-device-width: 1024px) {
    .aboutsafor p {
        width: 802px;
    }
}

@media screen and (max-device-width: 759px) {
    .aboutsafor p {
        width: 508px;
    }
}

@media screen and (max-device-width: 567px) {
    .aboutsafor p {
        width: 288px;
        height: 150px;
        line-height: 17px;
        margin-right: 0;
    }
}

#aboutp {
    width: 320px;
    height: 96px;
}

@media screen and (max-device-width: 1024px) {
    #aboutp {
        width: 802px;
    }
}

@media screen and (max-device-width: 759px) {
    #aboutp {
        width: 508px;
    }
}

@media screen and (max-device-width: 567px) {
    #aboutp {
        width: 288px;
        height: 50px;
        line-height: 17px;
        margin-right: 0;
    }
}

.three {
    width: 100%;
    height: 2640px;
    background-repeat: no-repeat, no-repeat;
    background-image: url(Rectangle_3.png), url(back.png);
    background-position-x: 0px, 100%;
    background-position-y: 0px, 100%;
}

@media screen and (max-device-width: 1920px) {
    .three {
        background-position-x: -270px, 100%;
    }
}

@media screen and (max-device-width: 1680px) {
    .three {
        background-position-x: -400px, 100%;
    }
}

@media screen and (max-device-width: 1440px) {
    .three {
        background-position-x: -480px, 100%;
    }
}

@media screen and (max-device-width: 1366px) {
    .three {
        background-position-x: -554px, 100%;
    }
}

@media screen and (max-device-width: 1280px) {
    .three {
        background-position-x: -634px, 100%;
    }
}

@media screen and (max-device-width: 1000px) {
    .three {
        height: 2145px;
        background-image: url(Rectangle_3_for_1000.png), url(back.png);
        background-position-x: 0px, 100%;
        background-position-y: 0px, 164px;
    }
}

@media screen and (max-device-width: 759px) {
    .three {
        height: 2193px;
        background-position-y: 0px, 100%;
    }
}

@media screen and (max-device-width: 567px) {
    .three {
        height: 1424px;
        background-image: url(Rectangle_3_567.png), url(back.png);
        background-position-x: 0px, 100%;
        background-position-y: 0px, 164px;
    }
}

.threetext {
    position: absolute;
    margin: 124px 0 0 904px;
}

@media screen and (max-device-width: 1920px) {
    .threetext {
        margin: 124px 0 0 590px;
    }
}

@media screen and (max-device-width: 1680px) {
    .threetext {
        margin: 124px 0 0 460px;
    }
}

@media screen and (max-device-width: 1366px) {
    .threetext {
        margin: 124px 0 0 380px;
    }
}

@media screen and (max-device-width: 1280px) {
    .threetext {
        margin: 124px 0 0 300px;
    }
}

@media screen and (max-device-width: 1024px) {
    .threetext {
        margin: 124px 0 0 172px;
    }
}

@media screen and (max-device-width: 1000px) {
    .threetext {
        margin: 124px 0 0 41px;
    }
}

@media screen and (max-device-width: 759px) {
    .threetext {
        width: 535px;
        margin: 124px 0 0 30px;
    }
}

@media screen and (max-device-width: 567px) {
    .threetext {
        width: 288px;
        margin: 60px 0 0 71px;
    }
}

@media screen and (max-device-width: 374px) {
    .threetext {
        margin: 60px 0 0 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .threetext {
        margin: 60px 0 0 16px;
    }
}

.threetext h3 {
    margin-bottom: 57px;
}

@media screen and (max-device-width: 567px) {
    .threetext h3 {
        margin-bottom: 37px;
    }
}

.threetext h2 {
    margin-bottom: 113px;
}

@media screen and (max-device-width: 1000px) {
    .threetext h2 {
        margin-bottom: 191px;
    }
}

@media screen and (max-device-width: 567px) {
    .threetext h2 {
        margin-bottom: 136px;
    }
}

.threetext img {
    margin: 0 0 113px 368px;
}

@media screen and (max-device-width: 1000px) {
    .threetext img {
        margin: 0 0 181px 368px;
    }
}

@media screen and (max-device-width: 759px) {
    .threetext img {
        margin: 0 0 192px 0;
    }
}

@media screen and (max-device-width: 567px) {
    .threetext img {
        width: 180px;
        height: 2px;
        margin: 0 0 132px 0;
    }
}

#threeh2border {
    margin-bottom: 0;
}

@media screen and (max-device-width: 759px) {
    #threeh2border {
        width: 237px;
        height: 112px;
    }
}

@media screen and (max-device-width: 567px) {
    #threeh2border {
        width: 115px;
        height: 52px;
    }
}

#threeh2 {
    margin-bottom: 593px;
}

@media screen and (max-device-width: 1000px) {
    #threeh2 {
        margin-bottom: 311px;
    }
}

@media screen and (max-device-width: 567px) {
    #threeh2 {
        margin-bottom: 208px;
    }
}

#threeimg1 {
    margin: 489px 662px 0 831px;
}

@media screen and (max-device-width: 1920px) {
    #threeimg1 {
        margin: 489px 662px 0 467px;
    }
}

@media screen and (max-device-width: 1680px) {
    #threeimg1 {
        margin: 489px 662px 0 387px;
    }
}

@media screen and (max-device-width: 1366px) {
    #threeimg1 {
        margin: 489px 662px 0 307px;
    }
}

@media screen and (max-device-width: 1280px) {
    #threeimg1 {
        margin: 489px 662px 0 227px;
    }
}

@media screen and (max-device-width: 1024px) {
    #threeimg1 {
        margin: 489px 0 0 99px;
    }
}

@media screen and (max-device-width: 1000px) {
    #threeimg1 {
        margin: 328px 0 0 572px;
    }
}

@media screen and (max-device-width: 759px) {
    #threeimg1 {
        margin: 391px 0 0 190px;
    }
}

@media screen and (max-device-width: 567px) {
    #threeimg1 {
        width: 203px;
        height: 200px;
        margin: 236px 0 0 155px;
    }
}

@media screen and (max-device-width: 374px) {
    #threeimg1 {
        margin: 236px 0 0 140px;
    }
}

@media screen and (max-device-width: 320px) {
    #threeimg1 {
        margin: 236px 0 0 100px;
    }
}

#threeimg2 {
    margin: 124px 295px 190px 1230px;
}

@media screen and (max-device-width: 1920px) {
    #threeimg2 {
        margin: 124px 295px 190px 866px;
    }
}

@media screen and (max-device-width: 1680px) {
    #threeimg2 {
        margin: 124px 295px 190px 786px;
    }
}

@media screen and (max-device-width: 1366px) {
    #threeimg2 {
        margin: 124px 295px 190px 706px;
    }
}

@media screen and (max-device-width: 1280px) {
    #threeimg2 {
        margin: 124px 295px 190px 626px;
    }
}

@media screen and (max-device-width: 1024px) {
    #threeimg2 {
        margin: 124px 0 190px 498px;
    }
}

@media screen and (max-device-width: 1000px) {
    #threeimg2 {
        margin: 80px 0 0 572px;
    }
}

@media screen and (max-device-width: 759px) {
    #threeimg2 {
        margin: 80px 0 0 203px;
    }
}

@media screen and (max-device-width: 567px) {
    #threeimg2 {
        width: 195px;
        height: 200px;
        margin: 60px 0 0 164px;
    }
}

@media screen and (max-device-width: 374px) {
    #threeimg2 {
        margin: 60px 0 0 149px;
    }
}

@media screen and (max-device-width: 320px) {
    #threeimg2 {
        margin: 60px 0 0 109px;
    }
}

#threeshortp {
    width: 81px;
    height: 27px;
    color: #121212;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 187px;
}

@media screen and (max-device-width: 567px) {
    #threeshortp {
        margin: 0 0 13px 0;
    }
}

#threelongp {
    width: 571px;
    height: 47px;
    color: #121212;
    letter-spacing: 1px;
    line-height: 24px;
}

@media screen and (max-device-width: 759px) {
    #threelongp {
        width: 508px;
        height: 72px;
    }
}

@media screen and (max-device-width: 567px) {
    #threelongp {
        width: 288px;
        height: 60px;
        margin-bottom: 60px;
        line-height: 15px;
    }
}

.four {
    margin: 0 0 0 904px;
}

@media screen and (max-device-width: 1920px) {
    .four {
        margin: 0 0 0 580px;
    }
}

@media screen and (max-device-width: 1680px) {
    .four {
        margin: 0 0 0 460px;
    }
}

@media screen and (max-device-width: 1366px) {
    .four {
        margin: 0 0 0 380px;
    }
}

@media screen and (max-device-width: 1280px) {
    .four {
        margin: 0 0 0 300px;
    }
}

@media screen and (max-device-width: 1024px) {
    .four {
        margin: 0 0 0 172px;
        width: 796px;
        height: 498px;
    }
}

@media screen and (max-device-width: 1000px) {
    .four {
        margin: 0 0 0 40px;
    }
}

@media screen and (max-device-width: 759px) {
    .four {
        width: 508px;
        height: 543px;
        margin: 0 0 0 30px;
    }
}

@media screen and (max-device-width: 567px) {
    .four {
        width: 288px;
        height: 392px;
        margin: 0 0 0 71px;
    }
}

@media screen and (max-device-width: 374px) {
    .four {
        margin: 0 0 0 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .four {
        margin: 0 0 0 16px;
    }
}

.four h3 {
    margin: 124px 0 60px 0;
}

@media screen and (max-device-width: 1000px) {
    .four h3 {
        margin: 325px 0 60px 0;
    }
}

@media screen and (max-device-width: 759px) {
    .four h3 {
        margin: 262px 0 57px 0;
    }
}

@media screen and (max-device-width: 567px) {
    .four h3 {
        margin: 262px 0 37px 0;
    }
}

.four p {
    color: #121212;
    margin-bottom: 70px;
}

@media screen and (max-device-width: 567px) {
    .four p {
        margin: 11px 0 40px 0;
    }
}

.five {
    width: 1000px;
    height: 828px;
    display: flex;
}

@media screen and (max-device-width: 759px) {
    .five {
        width: 100%;
        height: 1656px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-device-width: 567px) {
    .five {
        width: 100%;
        height: 1164px;
    }
}

.forbusiness {
    width: 500px;
    height: 828px;
    display: flex;
    background-image: url(forbusiness.png);
}

@media screen and (max-device-width: 759px) {
    .forbusiness {
        width: 100%;
    }
}

@media screen and (max-device-width: 567px) {
    .forbusiness {
        height: 582px;
    }
}

#forpeople {
    background-image: url(forpeople.png);
}

.forbusinesstext {
    margin: 60px 40px 0 40px;
}

@media screen and (max-device-width: 567px) {
    .forbusinesstext {
        margin: 46px 17px 37px 71px;
    }
}

@media screen and (max-device-width: 374px) {
    .forbusinesstext {
        margin: 46px 17px 37px 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .forbusinesstext {
        margin: 46px 17px 37px 16px;
    }
}

.forbusinesstext div {
    width: 171px;
    height: 40px;
    color: #ffffff;
    font-family: "Roboto-Medium";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.55px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 56px 0;
}

@media screen and (max-device-width: 567px) {
    .forbusinesstext div {
        width: 115px;
        height: 33px;
        font-size: 16px;
        font-weight: 800;
        line-height: 28px;
        margin: 0 0 35px 0;
    }
}

#forpeopletext div {
    color: #333333;
}

.forbusinesstext img {
    margin: 0 0 16px 0;
}

.forbusinesstext p {
    margin: 0 0 60px 0;
}

@media screen and (max-device-width: 567px) {
    .forbusinesstext p {
        margin: 0 0 40px 0;
    }
}

#forpeopletext p {
    color: #333333;
}

@media screen and (max-device-width: 759px) {
    .six {
        width: 509px;
    }
}

@media screen and (max-device-width: 567px) {
    .six {
        width: 288px;
    }
}

.six h1 {
    width: 402px;
    height: 123px;
    margin: 123px 0 0 900px;
}

@media screen and (max-device-width: 1920px) {
    .six h1 {
        margin: 123px 0 0 580px;
    }
}

@media screen and (max-device-width: 1680px) {
    .six h1 {
        margin: 123px 0 0 460px;
    }
}

@media screen and (max-device-width: 1366px) {
    .six h1 {
        margin: 123px 0 0 380px;
    }
}

@media screen and (max-device-width: 1280px) {
    .six h1 {
        margin: 123px 0 0 300px;
    }
}

@media screen and (max-device-width: 1024px) {
    .six h1 {
        margin: 123px 0 0 172px;
    }
}

@media screen and (max-device-width: 1000px) {
    .six h1 {
        margin: 123px 0 0 40px;
    }
}

@media screen and (max-device-width: 759px) {
    .six h1 {
        width: 281px;
        height: 187px;
        margin: 124px 0 0 30px;
    }
}

@media screen and (max-device-width: 567px) {
    .six h1 {
        width: 156pxpx;
        height: 52px;
        margin: 60px 0 0 71px;
    }
}

@media screen and (max-device-width: 374px) {
    .six h1 {
        margin: 60px 0 0 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .six h1 {
        margin: 60px 0 0 16px;
    }
}

.six div {
    display: flex;
    flex: column;
    align-content: space-between;
    width: 913px;
    height: 320px;
    margin: 55px 0 0 901px;
}

@media screen and (max-device-width: 1920px) {
    .six div {
        margin: 55px 0 0 581px;
    }
}

@media screen and (max-device-width: 1680px) {
    .six div {
        margin: 123px 0 0 461px;
    }
}

@media screen and (max-device-width: 1366px) {
    .six div {
        margin: 123px 0 0 381px;
    }
}

@media screen and (max-device-width: 1280px) {
    .six div {
        margin: 123px 0 0 301px;
    }
}

@media screen and (max-device-width: 1024px) {
    .six div {
        margin: 123px 0 0 173px;
        width: 836px;
    }
}

@media screen and (max-device-width: 1000px) {
    .six div {
        margin: 124px 0 0 40px;
        width: 913px;
    }
}

@media screen and (max-device-width: 759px) {
    .six div {
        margin: 85px 0 0 30px;
        width: 508px;
    }
}

@media screen and (max-device-width: 567px) {
    .six div {
        margin: 50px 0 0 71px;
        width: 288px;
    }
}

@media screen and (max-device-width: 374px) {
    .six div {
        margin: 50px 0 0 56px;
    }
}

@media screen and (max-device-width: 320px) {
    .six div {
        margin: 50px 0 0 16px;
    }
}

input {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
    background-color: #121212;
    width: 446px;
    height: 45px;
    margin-right: 16px;
    color: #ffffff;
    font-family: "Product Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

@media screen and (max-device-width: 1024px) {
    input {
        width: 408px;
    }
}

@media screen and (max-device-width: 1000px) {
    input {
        width: 446px;
    }
}

@media screen and (max-device-width: 759px) {
    input {
        width: 508px;
    }
}

@media screen and (max-device-width: 567px) {
    input {
        width: 288px;
        height: 57px;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 18px;
    }
}

#biginput {
    width: 912px;
}

@media screen and (max-device-width: 1024px) {
    #biginput {
        width: 836px;
    }
}

@media screen and (max-device-width: 1000px) {
    #biginput {
        width: 913px;
    }
}

@media screen and (max-device-width: 759px) {
    #biginput {
        width: 508px;
    }
}

@media screen and (max-device-width: 567px) {
    #biginput {
        width: 288px;
        margin: 0px;
    }
}

#inputbutton {
    width: 232px;
    height: 72px;
    background-color: #f76612;
    border: 0;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-family: "Product Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}

@media screen and (max-device-width: 567px) {
    #inputbutton {
        width: 288px;
        height: 60px;
        margin: 60px 0 0 0;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

footer {
    height: 119px;
    margin: 124px 47px 69px 40px;
}

@media screen and (max-device-width: 1280px) {
    footer {
        display: flex;
        justify-content: space-between;
        margin: 160px 80px 0 80px;
    }
}

@media screen and (max-device-width: 1024px) {
    footer {
        display: flex;
        justify-content: space-between;
        margin: 160px 50px 0 40px;
    }
}

@media screen and (max-device-width: 1000px) {
    footer {
        display: block;
        width: 913px;
        margin: 124px 47px 69px 40px;
    }
}

@media screen and (max-device-width: 759px) {
    footer {
        display: block;
        width: 340px;
        margin: 200px 47px 69px 40px;
    }
}

@media screen and (max-device-width: 567px) {
    footer {
        display: block;
        width: 231px;
        height: 198px;
        margin: 120px 74px 69px 71px;
    }
}

@media screen and (max-device-width: 374px) {
    footer {
        display: block;
        margin: 120px 74px 69px 56px;
    }
}

@media screen and (max-device-width: 320px) {
    footer {
        display: block;
        margin: 120px 74px 69px 16px;
    }
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-device-width: 1280px) {
    footer div {
        margin: 0 0 100px 0;
    }
}

@media screen and (max-device-width: 1024px) {
    footer div {
        margin: 40px 0 100px 0;
    }
}

@media screen and (max-device-width: 759px) {
    footer div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}

footer p {
    opacity: 0.5;
    margin: 0 247px 60px 0;
}

@media screen and (max-device-width: 1280px) {
    footer p {
        margin: 0 247px 0 154px;
    }
}

@media screen and (max-device-width: 1024px) {
    footer p {
        width: 539px;
        height: 59px;
        margin: 0 149px 55px 0;
    }
}

@media screen and (max-device-width: 759px) {
    footer p {
        width: 340px;
        height: 96px;
        margin: 45px 0 45px 0;
    }
}

@media screen and (max-device-width: 567px) {
    footer p {
        width: 231px;
        height: 59px;
        margin: 45px 0 60px 0;
    }
}

/* footer {
    display: flex;
    justify-content: space-between;
    margin: 160px 80px 65px 80px;
}

@media screen and (max-device-width: 1000px) {
    footer {
        display: none;
    }
}

footer p {
    width: 539px;
    height: 59px;
    opacity: 0.5;
    margin-right: 180px;
}

@media screen and (max-device-width: 1440px) {
    footer p {
        margin-right: -65px;
    }
}

@media screen and (max-device-width: 1366px) {
    footer p {
        margin-right: 0;
    }
}

@media screen and (max-device-width: 1280px) {
    footer p {
        margin-right: 75px;
    }
}

#brands {
    width: 114px;
    height: 19px;
} */