$headerBG: #f4f4f4;
$headerBorder: #f1f1f1;
$primaryColor: #ade1c5;
$secondaryColor: #e7a8c6;
$secondaryLightColor: #f3d3e2;
$darkColor: #1d1e24;
$darkLightColor: #202127;
$whiteColor: #ffffff;
$textColorDefault: #000000;
$textColorGray: #c4c4c6;
$textColorDarkGray: #545457;
