footer {
  border: 1px solid rgba(232, 232, 232, 0.49);
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .row .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

footer .row .col-lg-4 .about-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}

footer .row .col-lg-4 .about-website img {
  margin-bottom: 22px;
}

footer .row .col-lg-4 .about-website p {
  margin-bottom: 0;
  color: #7b7c85;
  font-size: 13px;
  font-weight: 300;
  font-family: "Roboto Light";
  letter-spacing: 0.52px;
  line-height: 22px;
  white-space: pre-line;
}

footer .row .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

footer .row .col-lg-4 .useful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 51px;
}

footer .row .col-lg-4 .useful-links .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .row .col-lg-4 .useful-links .list-box ul {
  padding-left: 0;
  list-style: none;
}

footer .row .col-lg-4 .useful-links .list-box p {
  color: #1d1e24;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}

footer .row .col-lg-4 .useful-links .list-box li {
  color: #7b7c85;
  font-family: 'Roboto Light';
  font-size: 12px;
  font-weight: 300;
  line-height: 36px;
}

footer .row .col-lg-4 .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

footer .row .col-lg-4 .insta img {
  margin-right: 10px;
}

footer .row .col-lg-4 .insta div {
  color: #1d1e24;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

footer .row .col-lg-4 .instagram-gallary {
  margin-left: 0;
}

footer .row .col-lg-4 .instagram-gallary .instagram-item {
  width: 86px;
  height: 86px;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .col-lg-4 .instagram-gallary .instagram-item img {
  width: 97%;
  height: 97%;
}

footer .footer-resourses {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 153px;
}

footer .footer-credits {
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-credits p {
  margin-bottom: 4px;
  color: #7b7c85;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

footer .footer-credits img {
  margin-bottom: -31px;
}

.about-website p:nth-child(3) {
  margin-top: 35px;
  font-family: "Roboto Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.48px;
}

.list-box ul:nth-child(2) {
  margin-left: 37px;
}
/*# sourceMappingURL=footer.css.map */