/* COLORS */
/* FONTS */
.row {
  width: 100%;
}

.header-background-line {
  position: absolute;
  top: 162px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #f4f4f4;
  border-bottom: #f1f1f1;
}

header .logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 52px;
}

header .logo-row .header-background-line {
  background-color: #f4f4f4;
  border: 1px solid #f1f1f1;
}

header .logo-row .header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-row .header-search .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .logo-row .header-search form {
  width: 100%;
}

header .logo-row .header-search form .search-icon-button {
  margin-right: 14px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-row .header-search form .search-icon-button:focus {
  outline-color: #ade1c5;
}

header .logo-row .header-search form input:focus {
  outline-color: #ade1c5;
}

header .logo-row .header-search form input {
  background-color: transparent;
  height: 16px;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 2.2px;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  color: #414141;
  text-transform: uppercase;
  border: none;
  width: 69%;
}

header .logo-row .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo-row .header-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

header .logo-row .header-tools a:nth-child(2) {
  margin-left: 27px;
  margin-right: 35px;
}

header .nav {
  margin-top: 69px;
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

header .nav button span .dropdown-icon {
  width: 22px;
  height: 22px;
}

header .nav .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav a {
  text-transform: uppercase;
  color: #45505e;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 2.2px;
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

header .nav a:hover {
  color: #b4e0cf;
  text-decoration: underline;
}

@media only screen and (max-device-width: 767px) {
  header .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .nav-item {
    margin-left: 0;
  }
  header .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.carousel {
  background-color: #ade1c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 576px;
}

.carousel .product {
  margin: 192px 35% 192px 0;
  width: 530px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.carousel .product .product-first-row p {
  margin-bottom: 0;
}

.carousel .product .product-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 52%;
}

.carousel .product .product-first-row p:nth-child(1) {
  font-family: 'Alex Brush';
  font-size: 73px;
  line-height: 24px;
  font-weight: 400;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #000000;
}

.carousel .product .product-first-row p:nth-child(2) {
  font-family: 'Roboto Thin';
  font-size: 23px;
  line-height: 12px;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  font-weight: 400;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #000000;
}

.carousel .product .product-second-row p {
  margin-bottom: 0;
}

.carousel .product .product-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}

.carousel .product .product-second-row p:nth-child(1) {
  font-family: 'Titillium Web';
  font-size: 72px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.carousel .product .product-second-row p:nth-child(2) {
  font-family: 'Roboto Thin';
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
}

.carousel .product .product-third-row p {
  margin-bottom: 0;
}

.carousel .product .product-third-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.carousel .product .product-third-row a {
  font-family: 'Roboto Light';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  height: 20px;
  color: #000000;
  color: #617e6e;
}

.carousel .product .product-third-row a:hover {
  color: #f3d3e2;
}

@media only screen and (max-width: 1120px) {
  .carousel .product {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 769px) {
  .carousel .product {
    margin-right: 0;
  }
  .carousel .product .product-first-row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .carousel .product .product-first-row p:nth-child(1) {
    font-family: 'Alex Brush';
    font-size: 36px;
    line-height: 12px;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .carousel .product .product-first-row p:nth-child(2) {
    font-family: 'Roboto Thin';
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2.3px;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .carousel .product .product-second-row {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .carousel .product .product-second-row p:nth-child(1) {
    font-family: 'Titillium Web';
    font-size: 36px;
    line-height: 12px;
  }
  .carousel .product .product-second-row p:nth-child(2) {
    font-family: 'Roboto Thin';
    font-size: 12px;
    line-height: 12px;
  }
  .carousel .product .product-third-row {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .carousel .product .product-third-row a {
    font-family: 'Roboto Light';
    font-size: 10px;
    line-height: 12px;
  }
}

.carousel .number-pointer {
  width: 119px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carousel .number-pointer .number-pointer-separator {
  background-color: #9fcfb4;
  height: 1px;
}

.carousel .number-pointer .first {
  width: 119px;
}

.carousel .number-pointer .second {
  width: 79px;
}

.carousel .number-pointer .number {
  font-size: 16px;
}

.carousel .number-pointer .number a {
  text-decoration: none;
}

.carousel .number-pointer .number p {
  margin-bottom: 0;
  font-family: 'Titillium Web Light';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
}

.carousel .number-pointer .number a {
  color: #232e28;
}

.carousel .number-pointer .number a:hover {
  color: #e7a8c6;
}

.carousel .number-pointer .white-pointer a {
  color: #ffffff;
}

.catalog {
  margin-top: 60px;
}

.catalog .catalog-menu {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.catalog .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0;
}

.catalog .nav .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog .nav a {
  text-transform: uppercase;
  color: #45505e;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 2.2px;
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: bold;
}

.catalog .nav a:hover {
  color: #b4e0cf;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .catalog .catalog-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .catalog .catalog-menu .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .catalog .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .catalog .nav-item {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .catalog .navbar-expand-md .navbar-toggler {
    display: unset;
    padding-left: 0;
  }
}

.catalog .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.catalog form .search-icon-button {
  margin-right: 14px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog form .search-icon-button:focus {
  outline-color: #ade1c5;
}

.catalog form input:focus {
  outline-color: #ade1c5;
}

.catalog form input {
  background-color: transparent;
  height: 16px;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 2.2px;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  color: #414141;
  text-transform: uppercase;
  border: none;
  width: 30%;
}

@media only screen and (max-width: 767px) {
  .catalog header .logo-row .header-search {
    padding-left: 0;
  }
  .catalog header .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog header .nav button {
    padding-left: 0;
    margin-left: 55px;
  }
  .catalog .catalog-menu .search-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .catalog .catalog-menu .navbar-toggler {
    padding-left: 0;
  }
}

.catalog .menu-underline {
  height: 1px;
  background-color: #e9e9e9;
  margin-bottom: 73px;
}

.catalog .catalog-items {
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog .catalog-items .content-row {
  margin-right: 0;
  margin-left: 0;
}

.catalog .catalog-items .col-lg-4 {
  padding: 0;
}

.catalog .catalog-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 37px;
}

.catalog .catalog-items .item .image-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 62px;
  width: 100%;
  -webkit-box-shadow: 0 0 76px rgba(231, 231, 231, 0.66);
          box-shadow: 0 0 76px rgba(231, 231, 231, 0.66);
}

.catalog .catalog-items .item .image-card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 37px;
  margin-right: 39px;
  margin-top: 29px;
  padding-bottom: 125px;
}

.catalog .catalog-items .item .image-card .buttons a img:nth-child(1) {
  width: 15px;
  height: 9px;
}

.catalog .catalog-items .item .image-card .buttons a img:nth-child(2) {
  width: 15px;
  height: 9px;
}

.catalog .catalog-items .item .image-card .buttons a img:nth-child(3) {
  width: 19px;
  height: 9px;
}

.catalog .catalog-items .item .image-card .photo {
  background-color: #617e6e;
  width: 74%;
  position: relative;
}

.catalog .catalog-items .item .image-card .photo .badge {
  display: unset;
  position: absolute;
  left: -25px;
  bottom: 18px;
}

.catalog .catalog-items .item .description-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 76px rgba(231, 231, 231, 0.66);
          box-shadow: 0 0 76px rgba(231, 231, 231, 0.66);
}

.catalog .catalog-items .item .description-card .text-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog .catalog-items .item .description-card .text-card p {
  margin-bottom: 0;
}

.catalog .catalog-items .item .description-card .text-card p:nth-child(1) {
  color: #000000;
  font-family: "Titillium Web";
  font-size: 23px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 24px;
}

.catalog .catalog-items .item .description-card .text-card p:nth-child(2) {
  color: #8ed1b7;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: inherit;
}

.catalog .catalog-items .item .description-card .text-card p:nth-child(2) span {
  color: #000000;
  text-decoration: line-through;
}

.catalog .catalog-items .item .description-card .line-card {
  width: 94.68%;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 41px;
  margin-bottom: 36px;
}

.catalog .catalog-items .item .description-card .button-card {
  margin-bottom: 42px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog .catalog-items .item .description-card .button-card img {
  margin-right: 9px;
}

.catalog .catalog-items .item .description-card .button-card a {
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog .catalog-items .item .description-card .button-card a:hover {
  color: #b4e0cf;
}

@media only screen and (max-width: 767px) {
  .catalog header .logo-row .header-search {
    padding-left: 0;
  }
  .catalog header .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog header .nav button {
    padding-left: 0;
    margin-left: 55px;
  }
  .catalog .catalog .catalog-menu > .search-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .catalog .catalog .catalog-menu .navbar-toggler {
    padding-left: 0;
  }
}

.sale {
  margin-top: 176px;
}

.sale .sale-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale .sale-wrapper .sale-price {
  position: relative;
  height: 771px;
}

.sale .sale-wrapper .sale-price .price-cirle {
  height: 240px;
  width: 240px;
  background-color: #e7a8c6;
  position: absolute;
  bottom: 119px;
  right: 244px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 14px solid #f3d3e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale .sale-wrapper .sale-price .price-cirle p {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 0;
}

.sale .sale-wrapper .sale-price .price-cirle p span {
  margin-bottom: 4px;
  margin-left: 86px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: line-through;
}

.sale .sale-wrapper .right-text {
  height: 81px;
  margin-bottom: 0;
  color: #000000;
  font-family: "Titillium Web";
  font-size: 23px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 32.2px;
  position: absolute;
  right: 100px;
  top: 0;
}

.sale .sale-wrapper .right-text p {
  margin-top: 39px;
}

.sale .sale-wrapper .background-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -265px;
  top: 345px;
  height: 81px;
  width: 611px;
  background: url("../images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.sale .sale-wrapper .sale-featured {
  background: url("../images/featured-back.png");
}

.sale .sale-wrapper .sale-featured .featured-product {
  height: 235px;
  margin-top: 328px;
  margin-left: 82px;
}

.sale .sale-wrapper .sale-featured .featured-product .name p {
  color: #000000;
  font-family: "Titillium Web";
  font-size: 23px;
  font-weight: bold;
  line-height: 24px;
}

.sale .sale-wrapper .sale-featured .featured-product .name p span {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.sale .sale-wrapper .sale-featured .featured-product .description p {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.sale .sale-wrapper .sale-featured .featured-product .shop-now a {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: underline;
  text-transform: uppercase;
}

.advantages .row {
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
}

.advantages .row .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.advantages .row .col-12 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1e24;
}

.advantages .row .col-12 div p {
  color: #767676;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.advantages .row .col-12 .fast-delivery {
  padding-top: 54px;
}

.advantages .row .col-12 .fast-delivery img {
  margin-bottom: 48px;
}

.advantages .row .col-12 .special-discount {
  background-color: #202127;
  padding-top: 48px;
}

.advantages .row .col-12 .special-discount img {
  margin-bottom: 41px;
}

.advantages .row .col-12 .secure-checkout {
  padding-top: 40px;
}

.advantages .row .col-12 .secure-checkout img {
  margin-bottom: 40px;
}

.advantages .row .col-12 .money-returns {
  background-color: #202127;
  padding-top: 43px;
}

.advantages .row .col-12 .money-returns img {
  margin-bottom: 42px;
}

.advantages .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.advantages .row .col-3 div p:nth-child(1) {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

footer {
  border: 1px solid rgba(232, 232, 232, 0.49);
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .row .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

footer .row .col-lg-4 .about-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}

footer .row .col-lg-4 .about-website img {
  margin-bottom: 22px;
}

footer .row .col-lg-4 .about-website p {
  margin-bottom: 0;
  color: #7b7c85;
  font-size: 13px;
  font-weight: 300;
  font-family: "Roboto Light";
  letter-spacing: 0.52px;
  line-height: 22px;
  white-space: pre-line;
}

footer .row .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

footer .row .col-lg-4 .useful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 51px;
}

footer .row .col-lg-4 .useful-links .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .row .col-lg-4 .useful-links .list-box ul {
  padding-left: 0;
  list-style: none;
}

footer .row .col-lg-4 .useful-links .list-box p {
  color: #1d1e24;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}

footer .row .col-lg-4 .useful-links .list-box li {
  color: #7b7c85;
  font-family: 'Roboto Light';
  font-size: 12px;
  font-weight: 300;
  line-height: 36px;
}

footer .row .col-lg-4 .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

footer .row .col-lg-4 .insta img {
  margin-right: 10px;
}

footer .row .col-lg-4 .insta div {
  color: #1d1e24;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

footer .row .col-lg-4 .instagram-gallary {
  margin-left: 0;
}

footer .row .col-lg-4 .instagram-gallary .instagram-item {
  width: 86px;
  height: 86px;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .col-lg-4 .instagram-gallary .instagram-item img {
  width: 97%;
  height: 97%;
}

footer .footer-resourses {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 153px;
}

footer .footer-credits {
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-credits p {
  margin-bottom: 4px;
  color: #7b7c85;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
}

footer .footer-credits img {
  margin-bottom: -31px;
}

.about-website p:nth-child(3) {
  margin-top: 35px;
  font-family: "Roboto Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.48px;
}

.list-box ul:nth-child(2) {
  margin-left: 37px;
}

@media only screen and (max-width: 1200px) {
  .sale {
    margin-top: 0;
  }
}

@media only screen and (max-device-width: 767px) {
  footer .row .col-lg-4 .insta {
    margin-top: 51px;
  }
  footer .footer-credits {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .row .col-lg-4 .useful-links .list-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list-box ul:nth-child(2) {
    margin-left: 0;
  }
  .catalog .menu-underline {
    margin-bottom: 23px;
  }
  .carousel .number-pointer {
    display: none;
  }
  .catalog .catalog-menu {
    padding-left: 15px;
  }
}

@media only screen and (max-device-width: 575px) {
  .useful-links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 51px;
  }
  .sale .sale-wrapper .sale-price .price-cirle {
    right: 100px;
  }
  .sale .sale-wrapper .sale-price {
    height: 440px;
  }
  .sale .sale-wrapper .background-box {
    display: none;
  }
  .sale .sale-wrapper .sale-price .price-cirle {
    right: 0;
    bottom: 0;
  }
  footer .footer-resourses {
    padding-bottom: 53px;
  }
}

@media only screen and (max-width: 398px) {
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .carousel .product {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */