@import "colors&fonts";
// BORDER UNDER LOGO-LINE IN HEADER
.header-background-line {
    position: absolute;
    top: 162px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $headerBG;
    border-bottom: $headerBorder;
}
header {
/* FIRST LINE HEADER */
    .logo-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 52px;
    }
    .header-background-line  {
        background-color: $headerBG;
        border: 1px solid $headerBorder;
    }
    .header-search {
        display: flex;
        justify-content: center;
        align-items: center;
            .search-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
            }
            form {
                width: 100%;

                .search-icon-button {
                    margin-right: 14px;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                }
                input {
                    background-color: transparent;
                    height: 8px;
                    font-size: 11px;
                    line-height: 24px;
                    letter-spacing: 2.2px;
                    font-family: 'Roboto-Regular';
                    font-weight: 400;
                    color: $textColorSearch;
                    text-transform: uppercase;
                    border: none;
                    width: 69%;
                }
            }
    }
    .header-logo {
        display: flex;
        justify-content: center;
    }
    .header-tools {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100px;
    }
    .header-tools a:nth-child(2) {
        margin-left: 27px;
        margin-right: 35px;
    }
/* NAVIGATION LINE HEADER */
    .nav {
        margin-top: 69px;
        margin-bottom: 27px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
            a {
                color: $textColorNav;
                text-transform: uppercase;
                font-size: 11px;
                line-height: 24px;
                letter-spacing: 2.2px;
                font-family: 'Roboto-Regular';
                font-weight: 400;
                margin-left: 25px;
            }
    }
    @media only screen and (max-device-width: 475px) {
        .nav {
            flex-direction: column;
            align-items: flex-end;
        }
        .nav li:first-child {
            margin-left: 25px;
        }
    }
    .nav li:first-child {
        margin-left: 0;
    }
    .nav li:hover {
        color: $textColorNavHover;
        text-decoration: underline;
    }
}
.carousel {
    background-color: $primaryColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 576px;

    .product {
        margin: 192px 35% 192px 0;
        width: 530px;
        height: 192px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        .product-first-row p{ margin-bottom: 0;}
        .product-first-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            flex-basis: 100%;
            width: 52%;
        }
            .product-first-row p:nth-child(1) {
                font-family: 'Alex Brush';
                font-size: 73px;
                line-height: 24px;
                font-weight: 400;
                flex-basis: 50%;
                color: $textColorDefault;
            }
            .product-first-row p:nth-child(2) {
                font-family: 'Roboto Thin';
                font-size: 23px;
                line-height: 24px;
                font-weight: 400;
                flex-basis: 50%;
                color: $textColorDefault;
            }

        .product-second-row p{margin-bottom: 0;}
        .product-second-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            flex-basis: 100%;
            width: 100%;
            margin-bottom: 23px;
            margin-top: 23px;
        }
            .product-second-row p:nth-child(1) {
                font-family: 'Titillium Web';
                font-size: 72px;
                line-height: 24px;
                font-weight: 400;
                text-transform: uppercase;
                color: $textColorDefault;
            }
            .product-second-row p:nth-child(2) {
                font-family: 'Roboto Thin';
                font-size: 24px;
                line-height: 24px;
                font-weight: 400;
                align-self: center;
                color: $textColorDefault;
            }

        .product-third-row p{ margin-bottom: 0;}
        .product-third-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            flex-basis: 100%;
        }
        .product-third-row a {
            font-family: 'Roboto Linght';
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            text-decoration: underline;
            height: 20px;
            color: $textColorDefault;
            text-decoration-color:#617e6e;
            -moz-text-decoration-color:#617e6e;
        }
        .product-third-row a:hover {
            color: $secondaryLightColor;
        }
    }

    .number-pointer {
        width: 119px;
        height: 88px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .number-pointer-separator {
            background-color: #9fcfb4;
            height: 1px;
        }
            .first {
            width: 119px;
            }
            .second {
            width: 79px;
            }

        .number {
            font-size: 16px;
        }
        .number a{
            text-decoration: none;
        }
        .number p{
            margin-bottom: 0;
            font-family: 'Titillium Web Light';
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0;
            // line-height: 38px;
        }
        .number a {
            color:#232e28;
        }
        .number a:hover {
            color: $secondaryColor;
        }
        .white-pointer a{
            color:#ffffff;
        }
    }
}