*{
    list-style: none;
    padding: 0;
    text-decoration: none;
    margin: 0;
}

.Categories {
    display: flex;
    flex-direction: column;
    background: #FFF;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    margin-top: 110px;

        .heading {
            width: 100%;
            text-align: left;
            margin: 10px 25px;
        }
        .link-container {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            height: 375px;
            max-width: 250px;
            margin-bottom: 20px;
            font-size: 12px;
            font-weight: 600;
            overflow-y: scroll;
            overflow-x: hidden;
                li {
                    margin: 5px 25px;
                        button {
                            background: transparent;
                            border: none;
                            color: lightslategrey;
                            font-size: 13px;
                        }
                }
        }
        .moreCategories {
            display: none;
            text-align: right;
            width: 100%;
            margin-bottom: 10px;
                a {
                    color: lightcoral;
                    margin-right: 15px;
                }
        }
}
