.Content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        .buttons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
                button {
                    background: lightblue;
                    border: none;
                    color: #ffffff;
                    border-radius: 10%;
                    font-size: 25px;
                    font-weight: bold;
                    min-width: 150px;
                    height: 50px;
                }
        }
}