ul {
    padding-left: 0;
    padding-right: 1%;
    margin: 0 auto;
    width: 28%;
    height: 40%;
    list-style: none;
    border: 1px solid lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
ul::-webkit-scrollbar {
    width: 0;
}
li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
li input {
    border: none;
}
li button {
    background: transparent;
    border: 1px solid grey;
}
.checkbox {
    width: 10%;
}
.item {
    width: 65%;
}
.item:focus{
    border-color: transparent;
    outline-color:  orange;
}
.button {
    margin-left: 5%;
    width: 20%;
    background-color: lightcoral;
    border: none;
    color: azure;
}
.ready {
    text-decoration: line-through;
    color: lightseagreen;
}