* {
    list-style: none;
    padding: 0;
    font-family: 'Hepta Slab', serif;
}
button {
    background: none;
    border: none;
    display: flex;
}
.days {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.day {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.date {
    font-size: 25px;
}
.dayProperties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainDay {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.general-info {
    width: 60%;
}
.info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category li:nth-child(1) {
    margin-bottom: 10px;
}
.heading {
    width: 100%;
}
.value {
    width: 45%;
}
.afternoon {
    width: 21%;
    display: flex;
    justify-content: center;
}
.night {
    width: 21%;
    display: flex;
    justify-content: center;
}
.day-time-values {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.secondary-img {
    object-fit: cover;
    margin-right: 10px;
}
