@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/ProductSansCrillyc.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/ProductSansCrillyc.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ProductSansCrillyc';
    src: url('./fonts/ProductSansCrillyc.ttf');
    font-weight: normal;
    font-style: normal;
}
