@media only screen and (max-width: 1920px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 440px;
    }
    .video-box {
        margin-right: 360px;
    }
    .video-description {
        margin-right: 440px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1647px;
    }
    .orange-box-content {
        margin-right: 749px;
    }
    .advantages {
        margin-right: 545px;
    }
    .white-cascade-box{
        right: 444px;
    }
    .gray-cascade-box{
        right: 360px;
    }
    .feedback-box {
        margin-right: 427px;
        /* margin-left: 580px; */
    }
    .footer-text {
        margin-right: 607px;
    }
}
@media only screen and (max-width: 1680px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 320px;
    }
    .video-box {
        margin-right: 240px;
    }
    .video-description {
        margin-right: 320px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1440px;
    }
    .orange-box-content {
        margin-right: 628px;
    }
    .advantages {
        margin-right: 424px;
    }
    .white-cascade-box{
        right: 324px;
    }
    .gray-cascade-box{
        right: 240px;
    }
    .feedback-box {
        margin-right: 307px;
        /* margin-left: 460px; */
    }
    .footer-text {
        /* margin-right: 487px; */
        margin-right: 247px;
    }
    .in {
        margin-right: 0;
    }
    .social {
        margin-right: 320px;
    }
}
@media only screen and (max-width: 1440px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-box-line-first{
        margin-left: 140px;
    }
    .video-box-line-second{
        margin-left: 140px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1360px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        right: 84px;
    }
    .gray-cascade-box{
        right:0;
    }
    .feedback-box {
        margin-right: 67px;
        /* width: 827px; */
    }
    .footer-text {
        margin-right: 247px;
        /* margin-right: 290px; */
    }
    .social {
        margin-right: 67px;
    }
}
@media only screen and (max-width: 1366px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1360px;
        left: -80px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        right: 84px;
    }
    .gray-cascade-box{
        right:0;
    }
    .feedback-box {
        margin-right: 67px;
        /* margin-left: 386px; */
        /* width: 827px; */
    }
}
@media only screen and (max-width: 1280px) {
     /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-box-line-first{
    margin-left: 90px;          /*По макету 140px!!! */
    }
    .video-box-line-second{
    margin-left: 90px;          /*По макету 140px!!! */
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1025px;
        left:0;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .feedback-box {
        margin-right: 67px;
        /* margin-left: 300px; */
        /* width: 658px; */
    }
    /* FOOTER */
}
@media only screen and (max-width: 1200px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 80px;
        width: calc(100% - 160px);
    }
    footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .left-footer{
        margin-bottom: 40px;
    }
    .footer-logo{
        margin-left: 40px;
    }
    .right-footer{
        margin-left: 40px;
        width: calc(100% - 80px);
        justify-content: space-between;
    }
    .footer-text {
    margin-right:0;
    }
    .social{
        margin-right: 37px;
    }
}
@media only screen and (max-width: 1160px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 80px;
        width: calc(100% - 160px);
    }
    .left-phone {
    overflow: hidden;
    }
    .right-phone {
    overflow: hidden;
    }
    .left-footer{
        width: 100%;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 1140px) {
    .video-box-line-first{
        margin-left: 140px;
    }
    .video-box-line-second{
        margin-left: 140px;
    }
    .video-box {
        margin-right: 40px;
        width: calc(100% - 80px);
    }
    .white-cascade-box{
        width: calc(1020px - 40px);
        right:0;
    }
    .gray-cascade-box{
        width:calc(980px - 124px);
    }
    .orange-box {
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    /* UPPER BLOCK */
    .logo-wrapper {
        margin-left: 40px;
    }
    .nav-container {
        float: right;
        margin-right: 50px;
    }
    .headline {
        margin-right: 290px;
    }
    .video-box {
        margin-right:0;
        width: 100%;
    }
    .video-box-line-first{
        margin-left: 172px;
    }
    .video-box-line-second{
        margin-left: 172px;
    }
    .video-description{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: calc(100% - 21.68%);
        margin-right: 50px;
    }
    .video-description-item:nth-child(1) {
        width: 100%;
    }
    .left-column p:nth-child(2) {
        width: 100%;
    }
    .right-column {
        margin-left:0;
        width: 100%;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 100%;
        left:0;
    }
    .orange-box-content {
        margin-right: 256px;
        /* margin-right: 328px;        */
    }
    .text-secure-box {
        margin-top: 593px;
    }
    .left-phone {
        left: -74px;
    }
    .right-phone {
        left: 326px;
        top: 805px;
    }
    .advantages {
        margin-right: 47px;
    }
    .feedback-box {
        width: 852px;
        /* margin-left: 172px; */
        margin-right: 0;
        align-items: flex-start;
        /* flex-direction: column; */
    }
    .feedback-header {
        width: calc(100% - 88px);
        /* margin-bottom: 85px; */
    }
    .input-list  {
        justify-content: flex-start;
        flex-direction: row;
    }
    .button-line {
        margin-top: 80px;
        width: 509px;
    }
    .input-list li:nth-child(1) input{
        width: 417px;
    }
    .input-list li:nth-child(2) input{
        width: 417px;
        margin-left: 18px;
    }
    .input-list li:nth-child(3) input {
        width: 852px;
    }
    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 69px;
    }
    .right {
        margin-left: 40px;
    }
    .footer-logo-wrapper a {
        margin-left: 40px;
    }
    .footer-social {
        margin-right: 50px;
        margin-left: 260px;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 69px;
    }
    .social {
        margin-right: 37px;
    }
}
@media only screen and (max-width: 1000px) {
    /* UPPER BLOCK */
    .upper-content-box {
        align-items: flex-start;
    }
    .headline {
        width: calc(100% - 61px);
        margin-right: 31px;
        margin-left: 30px;
    }
    .headline-text {
        width: calc(100% - 61px);
    }
    .video-box-line-first{
        margin-left: 40px;
    }
    .video-box-line-second{
        margin-left: 40px;
    }
    .video-description{
        width: calc(100% - 61px);
        margin-left: 30px;
        margin-right: 31px;
    }
    /* MIDDLE BOX */
    .middle-content-box {
        align-items: flex-start;
    }
    .orange-box {
        width: calc(100% - 40px);
        height: 1402px;
    }
    .orange-box-content {
        width: calc(100% - 60px);
        margin-right: 29px;
        margin-left: 31px;
        height: 1133px;
    }
    .os-lines-container {
        right: 201px;
    }
    .os-lines-container div:nth-child(2) {
        width: 256px;
        margin-left: 46px;
    }
    .text-install-registration {
        z-index: 15;
    }
    .text-secure-box {
        margin-top: 311px;
    }
    .left-phone {
        left: 330px;
        top: 204px;
    }
    .right-phone {
        left: 330px;
        top: 627px;
    }
    .advantages {
        margin-right: 164px;
        margin-left: 30px;
        margin-bottom: 620px;
    }
    /* THIRD BOX */
    .third-section {
    align-items: flex-start;
    }
    .white-cascade-box{
        width: 50%;
        height: 828px;
        right:0;
        top: -500px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .white-cascade-box-header {
        margin-top: 60px;
        margin-bottom: 5.6vw;
        margin-left: 40px;
    }
    .white-box-row-container {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 12vw;
    }
    .white-cascade-box li a:first-child {
        text-decoration: none;
        writing-mode: unset;
        margin-top:0;
        margin-left:0;
    }
    .pentagon-white-box-icon {
        margin-top:0;
    }
    .star-white-box-icon {
        margin-top: 6vw;
    }
    .triangle-white-box-icon {
        margin-top: 6vw;
    }
    .gray-cascade-box{
        width: 50%;
        height: 828px;
        right:0;
        left:0;
        top: -500px;
    }
    .gray-cascade-box-header {
        margin-left: 40px;
        margin-top: 6vw;
    }
    .gray-cascade-box-square {
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 5.6vw;
    }
    .gray-cascade-box-circle {
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 6vw;
    }
    .gray-cascade-box-hexagon {
        margin: 6vw 40px 6vw 40px;
    }
    .feedback-box {
        width: 91.3%;
        /* height: 579px; */
        margin-top: 666px;
        margin-left: 41px;
        margin-right: 29px;
        margin: 453px auto 0;
        align-items: flex-start;
        flex-direction: column;
    }
    .button-line {
        margin-top: 0;
    }
}
@media only screen and (max-width: 760px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 30px;
        margin-left: 30px;
    }
    .headline-text{
        margin-top: 120px;
        margin-bottom: 143px;
    }
    .video-box {
        height: 341px;
    }
    .video-box-line-first{
        margin-top: 82px;
        margin-left: 30px;
    }
    .video-box-line-second{
        margin-left: 30px;
    }
    /* MIDDLE BLOCK */
    .orange-box {
        width: 100%;
    }
    .orange-box-content {
        margin-left: 30px;
        width: 509px;
    }
    .os-lines-container {
        top: 141px;
        right: 0;
        left: 0;
    }
    .text-secure-box {
        margin-top: 208px;
    }
    .left-phone {
        left: 173px;
        top: 204px;
        z-index: 7;
    }
    .right-phone {
        left: 173px;
        top: 627px;
    }
    .advantages {
        margin-left: 30px;
        margin-bottom: 770px;
    }
    /* LOWER BLOCK */
    .white-box-row-container{
        margin-bottom: 60px;
    }
    .feedback-box {
        width: 509px;
        height: 679px;
        margin-top: 1002px;
        margin-left: 31px;
        margin-right: 29px;
        align-items: flex-start;
        flex-direction: column;
    }
    .feedback-header {
        width: 281px;
        /* margin-bottom: 85px; */
    }
    .input-list  {
        width: 509px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .button-line {
        margin-top: 80px;
        width: 509px;
    }
    .input-list li:nth-child(1) input {
        width: 508px;
    }
    .input-list li:nth-child(2) input {
        width: 508px;
        margin-left:0;
    }
    .input-list li:nth-child(3) input {
        width: 508px;
    }
    .upper-input-row input:first-child {
        margin-bottom: 60px;
    }
    .upper-input-row input:last-child {
        margin-bottom: 60px;
    }
    .lower-input-row input {
        width: 671px;
    }
    .third-section {
        margin-bottom: 120px;
    }
    .white-cascade-box{
        width: 100%;
        height: 696px;
        right:0;
        left:0;
        top: 182px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .white-cascade-box-header {
        margin-top: 60px;
        margin-bottom: 56px;
        margin-left: 40px;
    }
    .white-box-row-container {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 120px;
    }
    .white-cascade-box a {
        text-decoration: none;
        writing-mode: unset;
        margin-top:0;
        margin-left:0;
    }
    .gray-cascade-box{
        width: 100%;
        height: 828px;
        right:0;
        left:0;
        top: -646px;
    }
    .gray-cascade-box-header {
        margin-left: 40px;
        margin-top: 60px;
    }
    .gray-cascade-box-square  {
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 56px;
    }
    .gray-cascade-box-circle  {
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 60px;
    }
    .gray-cascade-box-hexagon {
        margin: 60px 40px 60px 40px;
    }
    .feedback-box {
        width: 92%;
    }
    .feedback-header {
        width:  100%;
    }
    .input-list {
        flex-direction: row;
        width:  100%;
    }
    .input-list input:nth-child(1) {
        flex-basis: 100%;
    }
    .input-list input:nth-child(2) {
        flex-basis: 100%;
        margin-left: 0;
    }
    .input-list input:nth-child(3) {
        flex-basis: 100%;
        margin-bottom: 0;
    }
    .button-line {
        margin-bottom: 0;
    }
    /* FOOTER BLOCK */
    .right-footer {
        flex-direction: row;
        justify-content: flex-start;
        width: 340px;
    }
    .social {
        display: none;
    }
}
@media only screen and (max-width: 567px) {
    /* HEADER */
    .logo-wrapper {
        margin-left: 16px;
        margin-bottom: 86px;
        margin-top: 16px;
    }
    .nav-container {
        margin-right: 17px;
        margin-bottom: 77px;
        margin-top: 16px;
    }
    .nav-container a {
        font-size: 12px;
        line-height: 20px;
    }
    .nav-container li:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
    }
    .lines-background div:nth-child(1){
        margin-top: 40px;
        margin-bottom: 12px;
    }
    .lines-background div:nth-child(2){
        margin-bottom: 20px;
    }
    .lines-background div:nth-child(3){
        margin-bottom: 28px;
    }
    .lines-background div:nth-child(4){
        margin-bottom: 34px;
    }
    .lines-background div:nth-child(5){
        margin-bottom: 43px;
    }
    .lines-background div:nth-child(6){
        margin-bottom: 43px;
    }
    .lines-background div:nth-child(7){
        margin-bottom: 44px;
    }
    /* FIRST BLOCK */
    .first-section {
        align-items: flex-start;
    }
    .headline {
        margin-left: 71px;
        margin-right: 16px;
        height: fit-content;
        width: 288px;
        margin-bottom:0;
    }
    .headline-header{
        font-size: 16px;
        width: 210px;
        line-height: 28px;
    }
    .headline-text {
        font-size: 12px;
        margin-top: 24px;
        line-height: 20px;
        width: 288px;
    }
    .video-box {
        margin-left: 71px;
        margin-right: 1px;
        margin-bottom: 20px;
        height: 180px;
        width: 304px;
    }
    .video-box-line-first{
        margin-left:0;
        margin-top: -48px;
        height: 33px;
        margin-bottom: 110px;
    }
    .video-box h1{
        font-size: 16px;
    }
    .video-box-line-second  {
        margin-left: 103px;
        margin-top: -12px;
    }
    .video-box-line-second p {
        font-size: 12px;
        padding-left: 18;
    }
    .video-description {
        width: 288px;
        height: 200px;
        align-items: flex-start;
        margin-left: 71px;
        margin-right: 17px;
        margin-bottom: 380px;
    }
    .video-description-item p{
        width: 288px;
        line-height: 20px;
        font-size:  12px;
    }
    .video-description-item {
        font-size:  12px;
    }
    .left-column p:nth-child(2) {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    /* SECTION 2 */
    .second-section {
        align-items: flex-start;
    }
    .orange-box{
        height: 962px;
    }
    .orange-box-content {
        width: 288px;
        height: 792px;
        margin: -100px 17px 170px 71px;
    }
    .os-lines-container {
        top: 104px;
        width: 180px;
    }
    .os-lines-container div:nth-child(1) {
        width: 43px;
        height: 2px;
    }
    .os-lines-container div:nth-child(2) {
        width: 118px;
        height: 2px;
        margin-left: 19px;
    }
    .text-install-registration-label {
        font-size:  12px;
    }
    .text-install {
        margin-top: 37px;
        font-size: 16px;
        /* margin-bottom:0; */
        width: 124px;
        height: 52px;
    }
    .text-registration {
        font-size: 16px;
        margin-bottom:0;
        width: 147px;
        height: 52px;
    }
    .text-secure-box {
        margin-top: 208px;
    }
    .secure-header {
        font-size: 16px;
        margin-bottom: 136px;
        height: 52px;
        width: 168px;
        line-height: 28px;
    }
    .secure-text p{
        font-size:  12px;
    }
    .right-phone {
        left: 93px;
        width: 195px;
        height: 200px;
        top: 436px;
    }
    .right-phone img{
        width: 195px;
        height: 200px;
    }
    .left-phone {
        left: 84px;
        width: 203px;
        height: 200px;
        top: 204px;
    }
    .left-phone img{
        width: 203px;
        height: 200px;
    }
    .advantages {
        margin-left: 71px;
        margin-right: 17px;
        width: 288px;
    }
    .advantages-question p {
        font-size:  12px;
    }
    .advantages-item p:first-child {
        font-size: 16px;
        line-height: 28px;
    }
    .advantages-item p:nth-child(2) {
        font-size:  12px;
    }
    /* THIRD  */
    .third-section {
        align-items: flex-start;
    }
    .gray-cascade-box {
        height: 582px;
    }
    .gray-cascade-box ul {
        width: 140px;
        /* margin-left: 40px;
        margin-top: 20px; */
    }
    .gray-cascade-box li {
        margin-right: 17px;
    }
    .gray-cascade-box-square {
        margin-top: 35px;
    }
    .gray-cascade-box-circle {
        margin-top: 40px;
    }
    .gray-cascade-box-hexagon {
        margin-top: 40px;
    }
    .gray-cascade-box-header li {
        font-size: 16px;
        line-height: 28px;
    }
    .gray-cascade-box p {
        font-size: 12px;
        line-height: 20px;
    }
    .white-cascade-box {
        top: -64px;
        height: 556px;
    }
    .white-cascade-box-header{
        margin-bottom: 35px;
    }
    .white-box-row-container {
        margin-right: 17px;
    }
    .star-white-box-icon {
        margin-top: 40px;
    }
    .triangle-white-box-icon {
        margin-top: 40px;
    }
    .white-cascade-box li a:first-child {
        font-size: 16px;
        line-height: 28px;
    }
    .white-box-row-container li p {
        font-size: 12px;
        line-height: 20px;
    }
    .feedback-box {
        justify-content: flex-start;
        margin-left: 71px;
        margin-right: 17px;
        margin-top: 550px;
        width: 76.8%;
        height: 418px;
    }
    .feedback-header p {
        font-size: 16px;
        line-height: 28px;
    }
    .feedback-header {
        width:  100%;
        margin-bottom: 60px;
    }
    .input-list {
        flex-direction: row;
        width:  100%;
    }
    .input-list input:nth-child(1) {
        flex-basis: 100%;
        margin-bottom: 31px;
    }
    .input-list input:nth-child(2) {
        flex-basis: 100%;
        margin-bottom: 40px;
    }
    .input-list input:nth-child(3) {
        flex-basis: 100%;
        margin-bottom: 0;
    }
    .button-line {
        margin-bottom: 0;
        height: 60px;
        margin-top: 60px;
    }
    /* FOOTER */
    .footer-logo {
        margin-left: 71px;
    }
    .right-footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 231px;
        margin-left: 71px;
    }
    .social {
        margin-top: 61px;
        width: 136px;
        margin-left:0;
        display: flex;
        align-items: center;
    }
    .in {
        margin-right:0;
    }
}
@media only screen and (max-width: 376px) {
    .headline {
        margin-left: 56px;
    }
    .video-box {
        margin-left: 56px;
    }
    .video-description {
        margin-left: 56px;
    }
    .video-box-line-second {
        margin-left: 103px;
        margin-top: -12px;
    }
    .orange-box-content {
        margin-left: 56px;
    }
    .advantages {
        margin-left: 56px;
    }
    .right-phone {
        top: 436px;
    }
    .left-phone {
        top: 204px;
    }
    .text-install{
        width: 124px;
        height: 52px;
    }
    .text-install-registration{
        width: 147px;
        height: 52px;
        margin-bottom: 208px;
    }
    .secure-header {
        height: 52px;
        width: 168px;
        line-height: 28px;
    }
    .white-box-row-container{
        margin-left: 56px;
    }
    .white-cascade-box-header {
        margin-left: 56px;
    }
    .gray-cascade-box-header {
        margin-left: 56px;
        margin-top: 60px;
    }
    .gray-cascade-box-square {
        margin-left: 56px;
    }
    .gray-cascade-box-circle {
        margin-left: 56px;
    }
    .gray-cascade-box-hexagon {
        margin-left: 56px;
    }
    .feedback-box{
        /* width: 90%; */
        margin-left: 56px;
        margin-right: 56px;
    }
    .third-section {
        margin-bottom: 0;
    }
    footer {
        margin-top: 120px;
    }
    .footer-logo {
        margin-left: 56px;
    }
    .right-footer {
        margin-left: 56px;
    }
}
@media only screen and (max-width: 359px) {
    .headline {
        margin-left: 16px;
    }
    .video-box {
        margin-left: 16px;
    }
    .video-description {
        margin-left: 16px;
    }
    .orange-box-content {
        margin-left: 16px;
    }
    .advantages {
        margin-left: 16px;
    }
    .white-box-row-container{
        margin-left: 16px;
    }
    .white-cascade-box-header {
        margin-left: 16px;
    }
    .gray-cascade-box-header {
        margin-left: 16px;
        /* margin-top: 60px; */
    }
    .gray-cascade-box-square {
        margin-left: 16px;
    }
    .gray-cascade-box-circle {
        margin-left: 16px;
    }
    .gray-cascade-box-hexagon {
        margin-left: 16px;
    }
    .feedback-box{
        width: 90%;
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-logo {
        margin-left: 16px;
    }
    .right-footer {
        margin-left: 16px;
    }
}