@media only screen and (max-width: 1920px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 440px;
    }
    .video-box {
        margin-right: 360px;
    }
    .video-description {
        margin-right: 440px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1647px;
    }
    .orange-box-content {
        margin-right: 749px;
    }
    .advantages {
        margin-right: 545px;
    }
    .white-cascade-box{
        right: 444px;
    }
    .gray-cascade-box{
        right: 360px;
    }
    .feedback-box {
        margin-right: 427px;
    }
    .footer-text {
        margin-right: 607px;
    }
}
@media only screen and (max-width: 1680px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 320px;
    }
    .video-box {
        margin-right: 240px;
    }
    .video-description {
        margin-right: 320px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1440px;
    }
    .orange-box-content {
        margin-right: 628px;
    }
    .advantages {
        margin-right: 424px;
    }
    .white-cascade-box{
        right: 324px;
    }
    .gray-cascade-box{
        right: 240px;
    }
    .feedback-box {
        margin-right: 307px;
    }
    .footer-text {
        margin-right: 487px;
    }
}
@media only screen and (max-width: 1440px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-box-line-first{
        margin-left: 140px;
    }
    .video-box-line-second{
        margin-left: 140px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1360px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        right: 84px;
    }
    .gray-cascade-box{
        right: 0px;
    }
    .feedback-box {
        margin-right: 67px;
    }
    .footer-text {
        margin-right: 247px;
    }
}
@media only screen and (max-width: 1366px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1360px;
        left: -80px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        right: 84px;
    }
    .gray-cascade-box{
        right: 0px;
    }
    .feedback-box {
        margin-right: 67px;
    }
}
@media only screen and (max-width: 1280px) {
     /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-box-line-first{
    margin-left: 90px;          /*По макету 140px!!! */
    }
    .video-box-line-second{
    margin-left: 90px;          /*По макету 140px!!! */
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1025px;
        left: 0px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .feedback-box {
        margin-right: 67px;
    }
    /* FOOTER */
    .right-column {

    }
}
@media only screen and (max-width: 1200px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 80px;
        width: calc(100% - 160px);
    }
    footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .left-footer{
        margin-bottom: 40px;
    }
    .footer-logo{
        margin-left: 40px;
    }
    .right-footer{
        margin-left: 40px;
        width: calc(100% - 80px);
        justify-content: space-between;
    }
    .footer-text {
    margin-right: 0px;
    }
}
@media only screen and (max-width: 1160px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 80px;
        width: calc(100% - 160px);
    }
    .left-phone {
    overflow: hidden;
    }
    .right-phone {
    overflow: hidden;
    }
    .left-footer{
        width: 100%;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 1140px) {
    .video-box-line-first{
        margin-left: 140px;
    }
    .video-box-line-second{
        margin-left: 140px;
    }
    .video-box {
        margin-right: 40px;
        width: calc(100% - 80px);
    }
    .white-cascade-box{
        width: calc(1020px - 40px);
        right: 0px;
    }
    .gray-cascade-box{
        width:calc(980px - 124px);
    }
    .orange-box {
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    /* UPPER BLOCK */
    .logo-wrapper {
        margin-left: 40px;
    }
    .nav-container {
        float: right;
        margin-right: 50px;
    }
    .headline {
        margin-right: 290px;
    }
    .video-box {
        margin-right: 0px;
        width: 100%;
    }
    .video-box-line-first{
        margin-left: 172px;
    }
    .video-box-line-second{
        margin-left: 172px;
    }
    .video-description{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: calc(100% - 21.68%);
        margin-right: 50px;
    }
    .video-description-item:nth-child(1) {
        width: 100%;
    }
    .left-column p:nth-child(2) {
        width: 100%;
    }
    .right-column {
        margin-left: 0px;
        width: 100%;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 100%;
        left: 0px;
    }
    .orange-box-content {
        margin-right: 256px;
        /* margin-right: 328px;        */
    }
    .text-secure-box {
        margin-top: 593px;
    }
    .left-phone {
        left: -74px;
    }
    .right-phone {
        left: 326px;
        top: 805px;
    }
    .advantages {
        margin-right: 47px;
    }
    .white-cascade-box{
        width: 49.95vw;
        height: 828px;
        right: 0px;
        top: -286px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .white-cascade-box-header {
        margin-top: 60px;
        margin-bottom: 56px;
        margin-left: 40px;
    }
    .white-box-row-container {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 120px;
    }
    .white-cascade-box li a:first-child {
        text-decoration: none;
        writing-mode: unset;
        margin-top: 0px;
        margin-left: 0px;
    }
    .pentagon-white-box-icon {
        margin-top: 0px;
    }
    .star-white-box-icon {
        margin-top: 60px;
    }
    .triangle-white-box-icon {
        margin-top: 60px;
    }
    .gray-cascade-box{
        width: 49.95vw;
        height: 828px;
        right: 0px;
        left: 0px;
        top: -286px;
    }
    .gray-cascade-box-square {
        margin-right: 40px;
        margin-left: 40px;
    }
    .gray-cascade-box-circle {
        margin-right: 40px;
        margin-left: 40px;
    }
    .gray-cascade-box-hexagon {
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 60px;
    }
    .feedback-box {
        width: calc (100% - 88px);
        margin-left: 41px;
        margin-right: 47px;
        align-items: flex-start;
        flex-direction: column;
    }
    .feedback-header {
        width: calc (100% - 88px);
        /* margin-bottom: 85px; */
    }
    .input-list  {
        width: calc (100% - 88px);
        justify-content: flex-start;
        flex-direction: row;
    }
    .button-line {
        margin-top: 80px;
        width: 509px;
    }
    .input-list li:nth-child(1){
        width: calc (50% - 53px);
    }
    .input-list li:nth-child(2){
        width: calc (50% - 53px);
        margin-left: 18px;
    }
    .input-list li:nth-child(3){
        width: calc (100% - 88px);
    }
    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 69px;
    }
    .right {
        margin-left: 40px;
    }
    /* FOOTER */
    .footer-logo-wrapper a {
        margin-left: 40px;
    }
    .footer-social {
        margin-right: 50px;
        margin-left: 260px;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 69px;
    }
    .footer-text {
        /* margin-right: 260px; */
    }
}
@media only screen and (max-width: 1001px) {
    /* UPPER BLOCK */
    .upper-content-box {
        align-items: flex-start;
    }
    .headline {
        width: calc(100% - 61px);
        margin-right: 31px;
        margin-left: 30px;
    }
    .headline-text {
        width: calc(100% - 61px);
    }
    .video-box-line-first{
        margin-left: 40px;
    }
    .video-box-line-second{
        margin-left: 40px;
    }
    .video-description{
        width: calc(100% - 61px);
        margin-left: 30px;
        margin-right: 31px;
    }
    /* MIDDLE BOX */
    .middle-content-box {
        align-items: flex-start;
    }
    .orange-box {
        width: calc(100% - 40px);
        height: 1402px;
    }
    .orange-box-content {
        width: calc(100% - 60px);
        margin-right: 29px;
        margin-left: 31px;
        height: 1133px;
    }
    .text-install-registration {
        z-index: 15;
    }
    .text-secure-box {
        margin-top: 311px;
    }
    .left-phone {
        left: 330px;
        top: 204px;
    }
    .right-phone {
        left: 330px;
        top: 627px;
    }
    .advantages {
        margin-right: 164px;
        margin-left: 30px;
        margin-bottom: 770px;
    }
    /* LOWER BOX */
    .lower-content-box {
    align-items: flex-start;
    }
    .white-cascade-box{
        width: 100%;
        height: 696px;
        right: 0px;
        left: 0px;
        top: 182px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .white-cascade-box-header {
        margin-top: 60px;
        margin-bottom: 56px;
        margin-left: 40px;
    }
    .white-box-row-container {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 120px;
    }
    .white-cascade-box a {
        text-decoration: none;
        writing-mode: unset;
        margin-top: 0px;
        margin-left: 0px;
    }
    .upper-white-box-icon {
        margin-top: 0px;
    }
    .middle-white-box-icon {
        margin-top: 60px;
    }
    .lower-white-box-icon {
        margin-top: 60px;
    }
    .gray-cascade-box{
        width: 100%;
        height: 828px;
        right: 0px;
        left: 0px;
        top: -646px;
    }
    .gray-cascade-box-header {
        margin-left: 40px;
    }
    .gray-cascade-box-square  {
        margin-right: 40px;
        margin-left: 40px;
    }
    .gray-cascade-box-circle  {
        margin-right: 40px;
        margin-left: 40px;
    }
    .gray-cascade-box-hexagon {
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 60px;
    }
    .feedback-box {
        width: calc(760px - 60px);
        height: 579px;
        margin-top: 1002px;
        margin-left: 31px;
        margin-right: 29px;
        align-items: flex-start;
        flex-direction: column;
    }
    .feedback-header {
        width: calc(760px - 60px);
        /* margin-bottom: 85px; */
    }
    .input-list  {
        width: 509px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .button-line {
        margin-top: 80px;
        width: calc(759px - 60px);
    }
    .input-list li:nth-child(1){
        width: calc(759px - 60px);
    }
    .input-list li:nth-child(2){
        width: calc(759px - 60px);
        margin-left: 0px;
    }
    .input-list li:nth-child(3){
        width: calc(760px - 60px);
    }
    .upper-input-row input:first-child {
        margin-bottom: 60px;
    }
    .upper-input-row input:last-child {
        margin-bottom: 60px;
    }
    .lower-input-row input {
        width: 671px;
    }
    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 69px;
    }
    .right {
        margin-left: 40px;
    }
}
@media only screen and (max-width: 865px) {
}
@media only screen and (max-width: 759px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 30px;
        margin-left: 30px;
    }
    .headline-text{
        margin-top: 120px;
        margin-bottom: 143px;
    }
    .video-box {
        height: 341px;
    }
    .video-box-line-first{
        margin-top: 82px;
        margin-left: 30px;
    }
    .video-box-line-second{
        margin-left: 30px;
    }
    /* MIDDLE BLOCK */
    .orange-box {
        width: 100%;
    }
    .orange-box-content {
        margin-left: 30px;
        width: 509px;
    }
    .left-phone {
        left: 160px;
        top: 204px;
        z-index: 7;
    }
    .right-phone {
        left: 173px;
        top: 627px;
    }
    .advantages {
        margin-left: 30px;
    }
    /* LOWER BLOCK */
    .white-box-row-container{
        margin-bottom: 60px;
    }
    .feedback-box {
        width: 509px;
        height: 679px;
        margin-top: 1002px;
        margin-left: 31px;
        margin-right: 29px;
        align-items: flex-start;
        flex-direction: column;
    }
    .feedback-header {
        width: 281px;
        /* margin-bottom: 85px; */
    }
    .input-list  {
        width: 509px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .button-line {
        margin-top: 80px;
        width: 509px;
    }
    .input-list li:nth-child(1){
        width: 508px;
    }
    .input-list li:nth-child(2){
        width: 508px;
        margin-left: 0px;
    }
    .input-list li:nth-child(3){
        width: 508px;
    }
    .upper-input-row input:first-child {
        margin-bottom: 60px;
    }
    .upper-input-row input:last-child {
        margin-bottom: 60px;
    }
    .lower-input-row input {
        width: 671px;
    }
    /* FOOTER BLOCK */
    .right-footer {
        flex-direction: row;
        justify-content: flex-start;
        width: 340px;
    }
    .social {
        display: none;
    }
}
@media only screen and (max-width: 569px) {
    /* HEADER */
    .logo-wrapper {
        margin-left: 16px;
    }
    .nav-container {
        margin-right: 17px;
    }
    .nav-container a {
        font-size: 12px;
    }
    .nav-container li:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* FIRST BLOCK */
    .headline {
        margin-left: 71px;
        margin-right: 16px;
        height: 156px;
        width: 288px;
        margin-bottom: 112px;
    }
    .headline-header{
        font-size: 16px;
        width: 167px;
        line-height: 28px;
    }
    .headline-text {
        font-size: 12px;
        margin-top: 24px;
        line-height: 20px;
        width: 288px;
    }
    .video-box {
        margin-left: 71px;
        margin-right: 1px;
        margin-bottom: 20px;
        height: 180px;
        width: 304px;
    }
    .video-box-line-first{
        margin-left: 0px;
        margin-top: -48px;
        height: 33px;
        margin-bottom: 110px;
    }
    .video-box h1{
        font-size: 16px;
    }
    .video-box-line-second  {
        margin-left: 103px;
    }
    .video-box-line-second p {
        font-size:  12px;
    }
    .video-description {
        width: 288px;
        height: 200px;
        align-items: flex-start;
        margin-left: 71px;
        margin-right: 17px;
        margin-bottom: 380px;
    }
    .video-description-item p{
        width: 288px;
        line-height: 20px;
        font-size:  12px;
    }
    .video-description-item {
        font-size:  12px;
    }
    .left-column p:nth-child(2) {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    /* SECTION 2 */
    .orange-box{
        height: 962px;
    }
    .orange-box-content {
        width: 288px;
        height: 792px;
        margin-left: 71px;
        margin-right: 17px;
        margin-top: -100px;
        margin-bottom: 170px;
    }
    .text-install-registration-label {
        font-size:  12px;
    }
    .text-install {
        margin-top: 37px;
        font-size: 16px;
        /* margin-bottom: 0px; */
    }
    .text-registration {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .text-secure-box {
        margin-top: 208px;
    }
    .secure-header {
        font-size: 16px;
        margin-bottom: 136px;
    }
    .secure-text p{
        font-size:  12px;
    }
    .right-phone {
        left: 93px;
        width: 195px;
        height: 200px;
    }
    .right-phone img{
        width: 195px;
        height: 200px;
    }
    .left-phone {
        left: 84px;
        width: 203px;
        height: 200px;
    }
    .left-phone img{
        width: 203px;
        height: 200px;
    }
    .advantages {
        margin-left: 71px;
        margin-right: 17px;
        width: 288px;
    }
    .advantages-question p {
        font-size:  12px;
    }
    .advantages-item h1 {
        font-size: 16px;
        line-height: 28px;
    }
    .advantages-item p {
        font-size:  12px;
    }
    /* THIRD  */
    .gray-cascade-box {
        height: 582px;
    }
    .gray-cascade-box ul {
        width: 120px;
    }
    .gray-cascade-box li {
        margin-right: 17px;
    }
    .gray-cascade-box-square {
        margin-top: 35px;
    }
    .gray-cascade-box-circle {
        margin-top: 40px;
    }
    .gray-cascade-box-hexagon {
        margin-top: 40px;
    }
    .gray-cascade-box-header li {
        font-size: 16px;
        line-height: 28px;
    }
    .gray-cascade-box p {
        font-size: 12px;
        line-height: 20px;
    }
    .white-cascade-box {
        top: -64px;
        height: 556px;
    }
    .white-cascade-box-header{
        margin-bottom: 35px;
    }
    .white-box-row-container {
        margin-right: 17px;
    }
    .star-white-box-icon {
        margin-top: 40px;
    }
    .triangle-white-box-icon {
        margin-top: 40px;
    }
    .white-cascade-box li a:first-child {
        font-size: 16px;
        line-height: 28px;
    }
    .white-box-row-container li p {
        font-size: 12px;
        line-height: 20px;
    }
    .feedback-box {
        justify-content: flex-start;
        margin-left: 71px;
        margin-right: 17px;
        margin-top: 550px;
        width: 288px;
        height: 418px;
    }
    .feedback-header {
        margin-bottom: 60px;
    }
    .feedback-header p {
        font-size: 16px;
        line-height: 28px;
    }
    .input-list {
        width: 288px;
    }
    .input-list li:nth-child(1) {
        margin-bottom: 31px;
        width: 288px;
    }
    .input-list li:nth-child(2) {
        margin-bottom: 40px;
        width: 288px;
    }
    .input-list li:nth-child(3) {
        width: 288px;
    }
    .button-line {
        margin-top: 60px;
        width: 288px;
        height: 60px;
    }
    /* FOOTER */
    .right-footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 231px;
    }
    .social {
        display: unset;
        margin-top: 61px;
        width: 136px;
        margin-left: 0px;
    }
    .in {
        margin-right: 0px;
    }
}