/* #region math */
/* #endregion */
/* #region fonts*/
@font-face {
  font-family: "Product Sans";
  src: url("./fonts/Product Sans Regular.ttf") format("truetype");
}

/* #endregion */
/*#region DELETE! */
/*#endregion*/
/*#region body*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #121212;
}

/*#endregion*/
/* #region header*/
header {
  margin: 2.34375vw 3.125vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12.14844vw;
}

nav a {
  color: #ffffff;
  font-family: "Product Sans", sans-serif;
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
}

header img {
  margin-top: 0.27344vw;
  width: 2.57812vw;
  height: 0.78125vw;
}

@media screen and (max-width: 1920px) {
  header {
    margin: 3.125vw 4.16667vw 0px;
  }
  nav {
    width: 16.19792vw;
  }
  nav a {
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  header img {
    margin-top: 0.36458vw;
    width: 3.4375vw;
    height: 1.04167vw;
  }
}

@media screen and (max-width: 1680px) {
  header {
    margin: 3.57143vw 4.7619vw 0px;
  }
  nav {
    width: 18.5119vw;
  }
  nav a {
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  header img {
    margin-top: 0.41667vw;
    width: 3.92857vw;
    height: 1.19048vw;
  }
}

@media screen and (max-width: 1440px) {
  header {
    margin: 4.16667vw 5.55556vw 0px;
  }
  nav {
    width: 21.59722vw;
  }
  nav a {
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  header img {
    margin-top: 0.48611vw;
    width: 4.58333vw;
    height: 1.38889vw;
  }
}

@media screen and (max-width: 1366px) {
  header {
    margin: 4.39239vw 5.85652vw 0px;
  }
  nav {
    width: 22.7672vw;
  }
  nav a {
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  header img {
    margin-top: 0.51245vw;
    width: 4.83163vw;
    height: 1.46413vw;
  }
}

@media screen and (max-width: 1280px) {
  header {
    margin: 4.6875vw 6.25vw 0px;
  }
  nav {
    width: 24.29688vw;
  }
  nav a {
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  header img {
    margin-top: 0.54688vw;
    width: 5.15625vw;
    height: 1.5625vw;
  }
}

@media screen and (max-width: 1024px) {
  header {
    margin: 5.85938vw 3.90625vw 0px;
  }
  nav {
    width: 30.37109vw;
  }
  nav a {
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  header img {
    margin-top: 0.68359vw;
    width: 6.44531vw;
    height: 1.95312vw;
  }
}

@media screen and (max-width: 1000px) {
  header {
    margin: 6vw 4vw 0px;
  }
  nav {
    width: 31.1vw;
  }
  nav a {
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  header img {
    margin-top: 0.7vw;
    width: 6.6vw;
    height: 2vw;
  }
}

@media screen and (max-width: 759px) {
  header {
    margin: 5.28169vw 5.28169vw 0px;
  }
  nav {
    width: 44.89437vw;
  }
  nav a {
    font-size: 2.8169vw;
    letter-spacing: 0.12324vw;
    line-height: 5.6338vw;
  }
  header img {
    margin-top: 1.23239vw;
    width: 11.61972vw;
    height: 3.52113vw;
  }
}

@media screen and (max-width: 567px) {
  header {
    margin: 4.26667vw 4.26667vw 0px;
  }
  nav {
    width: 50.66667vw;
  }
  nav a {
    font-size: 3.2vw;
    letter-spacing: initial;
    line-height: 5.33333vw;
  }
  header img {
    margin-top: 0.53333vw;
    width: 14.13333vw;
    height: 4.26667vw;
  }
}

@media screen and (max-width: 374px) {
  header {
    margin: 4.44444vw 4.44444vw 0px;
  }
  nav {
    width: 52.77778vw;
  }
  nav a {
    font-size: 3.33333vw;
    line-height: 5.55556vw;
  }
  header img {
    margin-top: 0.55556vw;
    width: 14.72222vw;
    height: 4.44444vw;
  }
}

@media screen and (max-width: 359px) {
  header {
    margin: 5vw 5vw 0px;
  }
  nav {
    width: 59.375vw;
  }
  nav a {
    font-size: 3.75vw;
    line-height: 6.25vw;
  }
  header img {
    margin-top: 0.625vw;
    width: 16.5625vw;
    height: 5vw;
  }
}

/* #endregion */
/* #region Section 1*/
.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 21.875vw;
  border-bottom: 1px solid rgba(151, 151, 151, 0.9);
  width: 100%;
}

.first-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 35.15625vw;
}

.first-section .text h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.71875vw;
  font-weight: 800;
  letter-spacing: 0.03906vw;
  line-height: 2.5vw;
  text-transform: uppercase;
  width: 18.67188vw;
}

.off {
  margin-top: 6.25vw;
}

.first-section .text p {
  color: #ffffff;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
  width: 31.25vw;
  margin-top: 2.53906vw;
}

.first-section hr {
  position: absolute;
  width: 100vw;
  height: 0;
  left: 0;
  border: none;
}

.first-section hr:nth-child(2) {
  top: 13.47656vw;
  border-top: 1px solid rgba(151, 151, 151, 0.1);
}

.first-section hr:nth-child(3) {
  top: 14.76562vw;
  border-top: 1px solid rgba(151, 151, 151, 0.15);
}

.first-section hr:nth-child(4) {
  top: 16.36719vw;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
}

.first-section hr:nth-child(5) {
  top: 18.28125vw;
  border-top: 1px solid rgba(151, 151, 151, 0.3);
}

.first-section hr:nth-child(6) {
  top: 20.42969vw;
  border-top: 1px solid rgba(151, 151, 151, 0.5);
}

.first-section hr:nth-child(7) {
  top: 22.92969vw;
  border-top: 1px solid rgba(151, 151, 151, 0.7);
}

@media screen and (max-width: 1920px) {
  .first-section {
    height: 28.80208vw;
  }
  .first-section .text {
    margin-left: 30.20833vw;
  }
  .first-section .text h1 {
    width: 24.89583vw;
    font-size: 2.29167vw;
    letter-spacing: 0.05208vw;
    line-height: 3.33333vw;
  }
  .off {
    margin-top: 8.33333vw;
  }
  .first-section .text p {
    margin-top: 3.38542vw;
    width: 41.66667vw;
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  .first-section hr:nth-child(2) {
    top: 17.96875vw;
  }
  .first-section hr:nth-child(3) {
    top: 19.6875vw;
  }
  .first-section hr:nth-child(4) {
    top: 21.82292vw;
  }
  .first-section hr:nth-child(5) {
    top: 24.375vw;
  }
  .first-section hr:nth-child(6) {
    top: 27.23958vw;
  }
  .first-section hr:nth-child(7) {
    top: 30.57292vw;
  }
}

@media screen and (max-width: 1680px) {
  .first-section {
    height: 33.33333vw;
  }
  .first-section .text {
    margin-left: 27.38095vw;
  }
  .first-section .text h1 {
    width: 28.45238vw;
    font-size: 2.61905vw;
    letter-spacing: 0.05952vw;
    line-height: 3.80952vw;
  }
  .off {
    margin-top: 9.52381vw;
  }
  .first-section .text p {
    margin-top: 3.86905vw;
    width: 47.61905vw;
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  .first-section hr:nth-child(2) {
    top: 20.53571vw;
  }
  .first-section hr:nth-child(3) {
    top: 22.5vw;
  }
  .first-section hr:nth-child(4) {
    top: 24.94048vw;
  }
  .first-section hr:nth-child(5) {
    top: 27.85714vw;
  }
  .first-section hr:nth-child(6) {
    top: 31.13095vw;
  }
  .first-section hr:nth-child(7) {
    top: 34.94048vw;
  }
}

@media screen and (max-width: 1440px) {
  .first-section {
    height: 38.88889vw;
  }
  .first-section .text {
    margin-left: 31.94444vw;
  }
  .first-section .text h1 {
    width: 33.19444vw;
    font-size: 3.05556vw;
    letter-spacing: 0.06944vw;
    line-height: 4.44444vw;
  }
  .off {
    margin-top: 11.11111vw;
  }
  .first-section .text p {
    margin-top: 4.51389vw;
    width: 39.02778vw;
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  .first-section hr:nth-child(2) {
    top: 23.95833vw;
  }
  .first-section hr:nth-child(3) {
    top: 26.25vw;
  }
  .first-section hr:nth-child(4) {
    top: 29.09722vw;
  }
  .first-section hr:nth-child(5) {
    top: 32.5vw;
  }
  .first-section hr:nth-child(6) {
    top: 36.31944vw;
  }
  .first-section hr:nth-child(7) {
    top: 40.76389vw;
  }
}

@media screen and (max-width: 1366px) {
  .first-section {
    height: 40.99561vw;
  }
  .first-section .text {
    margin-left: 28.25769vw;
  }
  .first-section .text h1 {
    width: 34.99268vw;
    font-size: 3.22108vw;
    letter-spacing: 0.07321vw;
    line-height: 4.68521vw;
  }
  .off {
    margin-top: 11.71303vw;
  }
  .first-section .text p {
    margin-top: 4.75842vw;
    width: 41.14202vw;
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  .first-section hr:nth-child(2) {
    top: 25.25622vw;
  }
  .first-section hr:nth-child(3) {
    top: 27.67204vw;
  }
  .first-section hr:nth-child(4) {
    top: 30.6735vw;
  }
  .first-section hr:nth-child(5) {
    top: 34.26061vw;
  }
  .first-section hr:nth-child(6) {
    top: 38.28697vw;
  }
  .first-section hr:nth-child(7) {
    top: 42.97218vw;
  }
}

@media screen and (max-width: 1280px) {
  .first-section {
    height: 43.75vw;
  }
  .first-section .text {
    margin-left: 23.4375vw;
  }
  .first-section .text h1 {
    width: 37.34375vw;
    font-size: 3.4375vw;
    letter-spacing: 0.07812vw;
    line-height: 5vw;
  }
  .off {
    margin-top: 12.5vw;
  }
  .first-section .text p {
    margin-top: 5.07812vw;
    width: 43.90625vw;
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  .first-section hr:nth-child(2) {
    top: 26.95312vw;
  }
  .first-section hr:nth-child(3) {
    top: 29.53125vw;
  }
  .first-section hr:nth-child(4) {
    top: 32.73438vw;
  }
  .first-section hr:nth-child(5) {
    top: 36.5625vw;
  }
  .first-section hr:nth-child(6) {
    top: 40.85938vw;
  }
  .first-section hr:nth-child(7) {
    top: 45.85938vw;
  }
}

@media screen and (max-width: 1024px) {
  .first-section {
    height: 54.6875vw;
  }
  .first-section .text {
    margin-left: 16.79688vw;
  }
  .first-section .text h1 {
    width: 46.67969vw;
    font-size: 4.29688vw;
    letter-spacing: 0.09766vw;
    line-height: 6.25vw;
  }
  .off {
    margin-top: 15.625vw;
  }
  .first-section .text p {
    margin-top: 6.34766vw;
    width: 54.88281vw;
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  .first-section hr:nth-child(2) {
    top: 33.69141vw;
  }
  .first-section hr:nth-child(3) {
    top: 36.91406vw;
  }
  .first-section hr:nth-child(4) {
    top: 40.91797vw;
  }
  .first-section hr:nth-child(5) {
    top: 45.70312vw;
  }
  .first-section hr:nth-child(6) {
    top: 51.07422vw;
  }
  .first-section hr:nth-child(7) {
    top: 57.32422vw;
  }
}

@media screen and (max-width: 1000px) {
  .first-section {
    height: 50.6vw;
  }
  .first-section .text {
    margin-left: 4vw;
  }
  .first-section .text h1 {
    width: 47.8vw;
    font-size: 4.4vw;
    letter-spacing: 0.1vw;
    line-height: 6.4vw;
  }
  .off {
    margin-top: 16vw;
  }
  .first-section .text p {
    margin-top: 4.5vw;
    width: 78.1vw;
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  .first-section hr:nth-child(2) {
    top: 29.1vw;
  }
  .first-section hr:nth-child(3) {
    top: 32.4vw;
  }
  .first-section hr:nth-child(4) {
    top: 36.5vw;
  }
  .first-section hr:nth-child(5) {
    top: 41.4vw;
  }
  .first-section hr:nth-child(6) {
    top: 46.9vw;
  }
  .first-section hr:nth-child(7) {
    top: 53.3vw;
  }
}

@media screen and (max-width: 759px) {
  .first-section {
    height: 89.08451vw;
  }
  .first-section .text {
    margin-left: 5.28169vw;
  }
  .first-section .text h1 {
    margin-top: 28.16901vw;
    width: 89.43662vw;
    font-size: 7.74648vw;
    letter-spacing: 0.17606vw;
    line-height: 11.26761vw;
  }
  .off {
    display: none;
  }
  .first-section .text p {
    margin-top: 7.04225vw;
    width: 86.79577vw;
    font-size: 2.8169vw;
    letter-spacing: 0.12324vw;
    line-height: 5.6338vw;
  }
  .first-section hr:nth-child(2) {
    top: 45.9507vw;
  }
  .first-section hr:nth-child(3) {
    top: 51.76056vw;
  }
  .first-section hr:nth-child(4) {
    top: 58.97887vw;
  }
  .first-section hr:nth-child(5) {
    top: 67.60563vw;
  }
  .first-section hr:nth-child(6) {
    top: 77.28873vw;
  }
  .first-section hr:nth-child(7) {
    top: 88.55634vw;
  }
}

@media screen and (max-width: 567px) {
  .first-section {
    height: 81.86667vw;
  }
  .first-section .text {
    margin-left: 18.93333vw;
  }
  .first-section .text h1 {
    margin-top: 21.33333vw;
    width: 44.53333vw;
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    letter-spacing: initial;
  }
  .first-section .text p {
    margin-top: 6.4vw;
    width: 76.8vw;
    font-size: 3.2vw;
    line-height: 5.33333vw;
    letter-spacing: initial;
  }
  .first-section hr:nth-child(2) {
    top: 41.6vw;
  }
  .first-section hr:nth-child(3) {
    top: 45.06667vw;
  }
  .first-section hr:nth-child(4) {
    top: 50.66667vw;
  }
  .first-section hr:nth-child(5) {
    top: 58.4vw;
  }
  .first-section hr:nth-child(6) {
    top: 67.73333vw;
  }
  .first-section hr:nth-child(7) {
    top: 79.46667vw;
  }
}

@media screen and (max-width: 374px) {
  .first-section {
    height: 85.27778vw;
  }
  .first-section .text {
    margin-left: 15.55556vw;
  }
  .first-section .text h1 {
    margin-top: 22.22222vw;
    width: 46.38889vw;
    font-size: 4.44444vw;
    line-height: 7.77778vw;
  }
  .first-section .text p {
    margin-top: 6.66667vw;
    width: 80vw;
    font-size: 3.33333vw;
    line-height: 5.55556vw;
  }
  .first-section hr:nth-child(2) {
    top: 43.33333vw;
  }
  .first-section hr:nth-child(3) {
    top: 46.94444vw;
  }
  .first-section hr:nth-child(4) {
    top: 52.77778vw;
  }
  .first-section hr:nth-child(5) {
    top: 60.83333vw;
  }
  .first-section hr:nth-child(6) {
    top: 70.55556vw;
  }
  .first-section hr:nth-child(7) {
    top: 82.77778vw;
  }
}

@media screen and (max-width: 359px) {
  .first-section {
    height: 95.9375vw;
  }
  .first-section .text {
    margin-left: 5vw;
  }
  .first-section .text h1 {
    margin-top: 25vw;
    width: 52.1875vw;
    font-size: 5vw;
    line-height: 8.75vw;
  }
  .first-section .text p {
    margin-top: 7.5vw;
    width: 90vw;
    font-size: 3.75vw;
    line-height: 6.25vw;
  }
  .first-section hr:nth-child(2) {
    top: 48.75vw;
  }
  .first-section hr:nth-child(3) {
    top: 52.8125vw;
  }
  .first-section hr:nth-child(4) {
    top: 59.375vw;
  }
  .first-section hr:nth-child(5) {
    top: 68.4375vw;
  }
  .first-section hr:nth-child(6) {
    top: 79.375vw;
  }
  .first-section hr:nth-child(7) {
    top: 93.125vw;
  }
}

/* #endregion */
/* #region Section 2*/
.second-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 49.6875vw;
}

.video {
  margin: 3.125vw 0 0 32.8125vw;
  width: 40.625vw;
  height: 23.4375vw;
  background-color: #000000;
  border-radius: 0.3125vw;
}

.video h1 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.71875vw;
  font-weight: bold;
  letter-spacing: 0.03906vw;
  line-height: 2.5vw;
  text-transform: uppercase;
  margin: 9.53125vw 0 0 2.34375vw;
}

#playbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.07812vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.35156vw 0 0 2.34375vw;
}

#playbutton p {
  color: #ffffff;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
  text-transform: uppercase;
}

.second-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3.125vw 0 0 35.15625vw;
  width: 19.33594vw;
  height: 7.5vw;
}

.second-section .text p {
  color: #ffffff;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
}

.second-section .text p:nth-child(2) {
  margin-top: 1.25vw;
}

.second-section .text p:nth-child(3) {
  margin-left: 3.20312vw;
  width: 11.71875vw;
}

@media screen and (max-width: 1920px) {
  .second-section {
    height: 66.25vw;
  }
  .video {
    margin: 4.16667vw 0 0 27.08333vw;
    width: 54.16667vw;
    height: 31.25vw;
    border-radius: 0.41667vw;
  }
  .video h1 {
    font-size: 2.29167vw;
    letter-spacing: 0.05208vw;
    line-height: 3.33333vw;
    margin: 12.70833vw 0 0 3.125vw;
  }
  #playbutton {
    width: 6.77083vw;
    margin: 0.46875vw 0 0 3.125vw;
  }
  #playbutton p {
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  .second-section .text {
    margin: 4.16667vw 0 0 30.20833vw;
    width: 25.78125vw;
    height: 10vw;
  }
  .second-section .text p {
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 1.66667vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 4.27083vw;
    width: 15.625vw;
  }
}

@media screen and (max-width: 1680px) {
  .second-section {
    height: 75.71429vw;
  }
  .video {
    margin: 4.7619vw 0 0 23.80952vw;
    width: 61.90476vw;
    height: 35.71429vw;
    border-radius: 0.47619vw;
  }
  .video h1 {
    font-size: 2.61905vw;
    letter-spacing: 0.05952vw;
    line-height: 3.80952vw;
    margin: 14.52381vw 0 0 3.57143vw;
  }
  #playbutton {
    width: 7.7381vw;
    margin: 0.53571vw 0 0 3.57143vw;
  }
  #playbutton p {
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  .second-section .text {
    margin: 4.7619vw 0 0 27.38095vw;
    width: 29.46429vw;
    height: 11.42857vw;
  }
  .second-section .text p {
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 1.90476vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 4.88095vw;
    width: 17.85714vw;
  }
}

@media screen and (max-width: 1440px) {
  .second-section {
    height: 88.33333vw;
  }
  .video {
    margin: 5.55556vw 0 0 22.22222vw;
    width: 72.22222vw;
    height: 41.66667vw;
    border-radius: 0.55556vw;
  }
  .video h1 {
    font-size: 3.05556vw;
    letter-spacing: 0.06944vw;
    line-height: 4.44444vw;
    margin: 16.94444vw 0 0 9.72222vw;
  }
  #playbutton {
    width: 9.02778vw;
    margin: 0.625vw 0 0 9.72222vw;
  }
  #playbutton p {
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  .second-section .text {
    margin: 5.55556vw 0 0 31.94444vw;
    width: 34.375vw;
    height: 13.33333vw;
  }
  .second-section .text p {
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 2.22222vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 5.69444vw;
    width: 20.83333vw;
  }
}

@media screen and (max-width: 1366px) {
  .second-section {
    height: 93.11859vw;
  }
  .video {
    margin: 5.85652vw 0 0 18.00878vw;
    width: 76.1347vw;
    height: 43.92387vw;
    border-radius: 0.58565vw;
  }
  .video h1 {
    font-size: 3.22108vw;
    letter-spacing: 0.07321vw;
    line-height: 4.68521vw;
    margin: 17.86237vw 0 0 10.2489vw;
  }
  #playbutton {
    width: 9.51684vw;
    margin: 0.65886vw 0 0 10.2489vw;
  }
  #playbutton p {
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  .second-section .text {
    margin: 5.85652vw 0 0 28.25769vw;
    width: 36.23719vw;
    height: 14.05564vw;
  }
  .second-section .text p {
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 2.34261vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 6.00293vw;
    width: 21.96193vw;
  }
}

@media screen and (max-width: 1280px) {
  .second-section {
    height: 99.375vw;
  }
  .video {
    margin: 6.25vw 0 0 12.5vw;
    width: 81.25vw;
    height: 46.875vw;
    border-radius: 0.625vw;
  }
  .video h1 {
    font-size: 3.4375vw;
    letter-spacing: 0.07812vw;
    line-height: 5vw;
    margin: 19.0625vw 0 0 10.9375vw;
  }
  #playbutton {
    width: 10.15625vw;
    margin: 0.70312vw 0 0 10.9375vw;
  }
  #playbutton p {
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  .second-section .text {
    margin: 6.25vw 0 0 23.4375vw;
    width: 38.67188vw;
    height: 15vw;
  }
  .second-section .text p {
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 2.5vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 6.40625vw;
    width: 23.4375vw;
  }
}

@media screen and (max-width: 1024px) {
  .second-section {
    height: 123.82812vw;
  }
  .video {
    margin: 7.8125vw 0 0 0;
    width: 100%;
    height: 58.59375vw;
    border-radius: 0.78125vw;
  }
  .video h1 {
    font-size: 4.29688vw;
    letter-spacing: 0.09766vw;
    line-height: 6.25vw;
    margin: 23.82812vw 0 0 16.79688vw;
  }
  #playbutton {
    width: 12.69531vw;
    margin: 0.87891vw 0 0 16.79688vw;
  }
  #playbutton p {
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  .second-section .text {
    margin: 7.8125vw 0 0 16.79688vw;
    width: 78.32031vw;
    height: 21.875vw;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .second-section .text p {
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 3.125vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 3.125vw;
    margin-left: 0;
    width: auto;
  }
}

@media screen and (max-width: 1000px) {
  .second-section {
    height: 131.6vw;
  }
  .video {
    margin: 12.4vw 0 0 0;
    width: 100%;
    height: 60vw;
    border-radius: 0.8vw;
  }
  .video h1 {
    font-size: 4.4vw;
    letter-spacing: 0.1vw;
    line-height: 6.4vw;
    margin: 24.4vw 0 0 4vw;
  }
  #playbutton {
    width: 13vw;
    margin: 0.9vw 0 0 4vw;
  }
  #playbutton p {
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  .second-section .text {
    margin: 8vw 0 0 4vw;
    width: 80.2vw;
    height: 22.4vw;
  }
  .second-section .text p {
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 3.2vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 3.2vw;
  }
}

/* #endregion*/
/*# sourceMappingURL=style.css.map */