* {
    margin: 0 0;
    box-sizing: border-box;
    list-style-type: none;
    /* border: 1px solid blue; */
}
ul {
    padding-left:0;
}
li {
    padding-left:0;
}
body {
    /* background-color: darkolivegreen; */
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* HEADER BLOCK */
header {
    display: block;
    flex-direction: row;
    align-items: center;
}
.logo-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    float: left;
    margin-left: 80px;
    margin-top: 67px;
    margin-bottom: 153px;
}
.logo-wrapper:hover{
    background-color: #f76612;
}
.nav-container {
    float: right;
    margin-right: 79px;
    margin-top: 60px;
    margin-bottom: 153px;
    display: flex;
    flex-direction: row;
}
.nav-container li:nth-child(2) {
    margin-left: 47px;
    margin-right: 48px;
}
.nav-container a {
    color: #ffffff;
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.7px;
    text-decoration: none;
}
.nav-container a:hover {
    color: lightcoral;
    border: 1px dashed snow;
}
/* MAIN CONTENT BLOCK */
.main-content-box {
    position: relative;
}
.lines-background {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {
    width: 100%;
    height: 1px;
}
.lines-background div:nth-child(1){
    margin-top: 93px;
    margin-bottom: 32px;
    background: rgba(151, 151, 151, 0.1);
}
.lines-background div:nth-child(2){
    margin-bottom: 40px;
    background: rgba(151, 151, 151, 0.15);
}
.lines-background div:nth-child(3){
    margin-bottom: 48px;
    background: rgba(151, 151, 151, 0.2);
}
.lines-background div:nth-child(4){
    margin-bottom: 54px;
    background: rgba(151, 151, 151, 0.3);
}
.lines-background div:nth-child(5){
    margin-bottom: 63px;
    background: rgba(151, 151, 151, 0.5);
}
.lines-background div:nth-child(6){
    margin-bottom: 63px;
    background: rgba(151, 151, 151, 0.7);
}
.lines-background div:nth-child(7){
    margin-bottom: 64px;
    background: rgba(151, 151, 151, 0.9);
}
/* FIRST */
.first-section{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    border: none;
    overflow: hidden;
}
.headline {
    display: flex;
    flex-direction: column;
    margin-right: 760px;
    height: 469px;
    white-space:   unset;
}
.headline-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 478px;
    color: #ffffff;
    font-size: 44px;
    font-family: 'Roboto-Bold';
    line-height: 64px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}
.headline-text {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 900px;
    margin-top: 65px;
    margin-bottom: 165px;
    color: #ffffff;
    font-size:  16px;
    font-family: 'ProductSansCrillyc';
    line-height: 32px;
    letter-spacing: 0.7px;
    font-weight: 400;
}
.video-box {
    width: 1040px;
    height: 600px;
    margin-bottom: 80px;
    margin-right: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #000000
}
.video-box-line-first{
    margin-left: 60px;
    margin-top: 244px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 364px;
}
.video-box h1{
    color: #ffffff;
    font-size: 44px;
    font-family: 'Roboto-Bold';
    line-height: 64px;
    letter-spacing: 1px;
    flex-grow: 1;
}
.video-box-line-second {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    min-width: 130px;
}
.video-box-line-second p {
    padding-left: 16px;
}
.play-icon {
    background: url('./images/play-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 8px;
    height: 16px;
    flex-grow: 0;
}
.video-box p{
    background-color: #000000;
    padding-left: 16px;
    color: #ffffff;
    font-size:  16px;
    font-family: 'ProductSansCrillyc';
    line-height: 32px;
    letter-spacing: 0.7px;
    flex-grow: 1;
}
.video-description {
    margin-bottom: 320px;
    margin-right: 760px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 900px;
    height: 192px;
}
.left-column p:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 504px;
}
.video-description-item:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 504px;
}
.right-column {
    margin-left: 40px;
    width: 320px;
    height: 96px;
}
.video-description-item {
    font-family: 'ProductSansCrillyc';
    font-size:  16px;
    line-height: 32px;
    letter-spacing: 0.7px;
    font-weight: 400;
    color: #ffffff;
}
/* SECOND */
.second-section {
    background-color: #edeef0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.orange-box {
    width: 1841px;
    height: 1612px;
    background-color: #f76612;
    z-index: 10;
    position: absolute;
    bottom: 1153px;
    left:0;
    top: -160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.orange-box-content {
    width: 592px;
    height: 1363px;
    margin:0 1068px 250px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 12;
    position: relative;
}
.text-install-registration {
    height: 380px;
    z-index: 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-install-registration-label {
    font-family: 'Roboto-Bold';
    font-size:  16px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;
    color: #121212;
}
.text-install {
    margin-top: 57px;
    margin-bottom: 113px;;
}
.text-install  {
    font-family: 'Roboto-Bold';
    font-size: 34px;
    letter-spacing: 0.5px;
    line-height: 60px;
    font-weight: 800;
    color: #121212;
    text-transform: uppercase;
}
.text-registration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 593px;
}
.text-registration  {
    font-family: 'Roboto-Bold';
    font-size: 34px;
    letter-spacing: 0.5px;
    line-height: 60px;
    font-weight: 800;
    color: #121212;
    text-transform: uppercase;
}
.text-secure-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 13;
    margin-top: 593px;
}
.secure-header {
    margin-bottom: 191px;
    font-family: 'Roboto-Bold';
    font-size: 34px;
    letter-spacing: 0.5px;
    line-height: 60px;
    font-weight: 800;
    color: #121212;
}
.secure-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secure-text p{
    font-family: 'ProductSansCrillyc';
    font-size:  16px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;
    color: #121212;
}
.secure-text p:first-child {
    margin-bottom: 9px;
}
.left-phone{
    z-index: 14;
    position: absolute;
    width: 348px;
    height: 343px;
    top: 365px;
    right: 317px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.right-phone{
    z-index: 12;
    position: absolute;
    width: 316px;
    height: 324px;
    top: 832px;
    left: 326px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.advantages {
    height: 498px;
    margin-bottom: 406px;
    margin-right: 864px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advantages {
    list-style-type: none;
    /* max-width: 796px; */
}
.advantages-question p {
    font-family: 'ProductSansCrillyc';
    font-size:  16px;
    color: #121212;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}
.advantages-item p:first-child {
    font-family: 'Roboto-Bold';
    font-size: 34px;
    color: #121212;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.advantages-item p:nth-child(2) {
    font-family: 'ProductSansCrillyc';
    font-size:  16px;
    color: #121212;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}
.white-cascade-box{
    position: absolute;
    width: 1020px;
    height: 628px;
    background-color: #ffffff;
    z-index: 9;
    top: -148px;
    right: 764px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left:0;
}
.white-cascade-box li a:first-child {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: #121212;
    line-height: 36px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-decoration: none;
    writing-mode: tb-rl;
    transform:rotate(180deg);
    margin-top: 109px;
    margin-left: -6px;
}
.white-cascade-box:hover {
    z-index: 20;
}
.white-cascade-box-header {
    padding-left:0;
}
.white-box-row-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.white-box-row-container li p {
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
    white-space:   unset;
}
.white-cascade-box-pentagon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.pentagon-white-box-icon {
    background: url('./images/upper-icon-white-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    margin-top: 60px;
    margin-bottom: 21px;
}
.white-cascade-box-star {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.star-white-box-icon {
    background: url('./images/middle-icon-white-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    margin-top: 80px;
    margin-bottom: 21px;
}
.white-cascade-box-triangle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.triangle-white-box-icon {
    background: url('./images/lower-icon-white-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 80px;
    margin-bottom: 21px;
}
.gray-cascade-box{
    position: absolute;
    width: 980px;
    height: 640px;
    background-color: #333333;
    z-index: 10;
    top: -250px;
    right: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.gray-cascade-box-header {
    margin-left: 60px;
    margin-top: 60px;
}
.gray-cascade-box-header li{
    font-family: 'Roboto-Medium';
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.gray-cascade-box-square {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 56px;
    white-space:   unset;
}
.square-icon {
    background: url('./images/upper-icon-gray-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
}
.gray-cascade-box-square p {
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.gray-cascade-box-circle  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 60px;
    white-space:   unset;
}
.circle-icon {
    background: url('./images/middle-icon-gray-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
}
.gray-cascade-box-circle p {
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
}
.gray-cascade-box-hexagon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 80px;
    white-space:   unset;
}
.hexagon-icon {
    background: url('./images/lower-icon-gray-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    margin-bottom: 16px;
}
.gray-cascade-box-hexagon p {
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
}
/* THIRD */
.third-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 14;
    position: relative;
    margin-bottom: 160px;
}
.feedback-box {
    width: 913px;
    height: 510px;
    margin-top: 604px;
    margin-right: 747px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    white-space:  unset;
}
.feedback-header {
    width: 913px;
    margin-bottom: 85px;
}
.feedback-header p{
    font-family: 'ProductSansCrillyc';
    font-size: 44px;
    color: #ffffff;
    line-height: 64px;
    font-weight: 800;
    letter-spacing: 1px;
}
.input-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.input-list li:nth-child(1){
    width: 446px;
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 60px;
}
.input-list li:nth-child(2){
    width: 446px;
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    margin-left: 18px;
    margin-bottom: 60px;
}
.input-list li:nth-child(3){
    width: 912px;
    font-family: 'ProductSansCrillyc';
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dbdbdb;
}
.input-list li input {
    color: #ffffff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}
.input-list li:focus {
    outline: none;
    border-color: #f76612;
}
.button-line {
    width: 913px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
button {
    width: 232px;
    height: 72px;
    background-color: #f76612;
    border: none;
}
button:focus {
    outline-color: #dbdbdb;
}
button  {
    font-family: 'ProductSansCrillyc';
    font-size:  16px;
    color: #ffffff;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* FOOTER BLOCK */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
    z-index: 14;
}
.left-footer{
    float: left;
}
.footer-logo{
    width: 66px;
    height: 20px;
    margin-left: 80px;
}
.footer-logo a {
    margin-left: 80px;
}
.footer-logo:hover{
    background-color: #f76612;
}
.right-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social {
    display: flex;
    flex-direction: row;
}
.social:hover {
    background-color: #f76612;
}
.footer-text {
    margin-right: 927px;
    display: flex;
    justify-content: center;
    white-space:   unset;
    align-items: center;
    font-family: 'ProductSansCrillyc';
    font-size:  16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #ffffff;
    max-width: 540px;
    float: right;
}
.f {
    margin-right: 37px;
}
.i{
    margin-right: 38px;
}
.in {
    margin-right: 80px;
}

/* .first-section {
    border: 1px solid red;
}
.second-section {
    border: 1px solid red;
}
.third-section {
    border: 1px solid red;
}
header {
    border: 1px solid red;
}
footer {
    border: 1px solid red;
} */